
<h4><?php echo __('Dried whole cannabis flower'); ?></h4>
<?php

$_product = $block->getProduct();
$thc_code = 'thc';
$cdb_code = 'cdb';
$thc = $_product->getThc();
$cbd = $_product->getCdb();?>
<?php if ($thc)
{ ?>
<p>
<span><?php echo __('THC:'); ?></span><span><?php echo $_product->getResource()->getAttribute('thc')->getFrontend()->getValue($_product)?></span></p><?php } ?>
<?php if($cbd){ ?>
<p><span><?php echo __('CBD:'); ?></span><span><?php echo $_product->getResource()->getAttribute('cdb')->getFrontend()->getValue($_product)?></span></p> 


<div class="s-desc">Levels vary by lot</div>

<?php } ?>
