
<?php $_product = $block->getProduct(); ?>

<!--Product Featuresend-->

<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')): ?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php foreach ($detailedInfoGroup as $name): ?>
                <?php
                $html = $layout->renderElement($name);
                if (!trim($html)) {
                    continue;
                }
                $alias = $layout->getElementAlias($name);
                $label = $block->getChildData($alias, 'title');
                ?>
                <div class="data item title"
                     aria-labeledby="tab-label-<?php /* @escapeNotVerified */
                     echo $alias; ?>-title"
                     data-role="collapsible" id="tab-label-<?php /* @escapeNotVerified */
                echo $alias; ?>">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#<?php /* @escapeNotVerified */
                       echo $alias; ?>"
                       id="tab-label-<?php /* @escapeNotVerified */
                       echo $alias; ?>-title">
                        <?php /* @escapeNotVerified */
                        echo $label; ?>
                    </a>
                </div>
                <div class="data item content" id="<?php /* @escapeNotVerified */
                echo $alias; ?>" data-role="content">
                    <?php /* @escapeNotVerified */
                    echo $html; ?>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>


<script type="text/javascript">
    require([
        "jquery"
    ], function ($) {
        jQuery(document).ready(function () {
            ajax();
        });
    });
    function ajax() {
		
		var formData = {
				'productid' : '<?php echo $_product->getId() ?>'
			};
        jQuery.ajax({
            url: "<?php echo $this->getUrl('pdp/index/index'); ?>",
            showLoader: true,
            data: formData,
            type: 'POST'
        }).done(function (response) {
            jQuery.each(response, function (key, data) {
				console.log(key + '-' +  data)
					var html = '<tr><th class="col label" scope="row">'+ key +'</th><td class="col data" data-th="Width">'+data+'</td></tr>';
					jQuery("#product-attribute-specs-table tbody").append(html);
			});
        });
    }
</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59b7813081f18b4b"></script>

