<?php
// Notify me block for Out of stock products Section

?>


<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
$productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');
$customerSession = $objectManager->get('Magento\Framework\App\Http\Context');
$isLoggedIn = $customerSession->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH);
          $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
        $ManageStock = $objectManager->get('\Magento\CatalogInventory\Api\StockRegistryInterface');
 $stockquantitynotconfigurable = $StockState->getStockQty($_product->getId(), $_product->getStore()->getWebsiteId());

	    $ManagSkValue = $ManageStock->getStockItem($_product->getId());

            $managestockdt = $ManagSkValue->getData('manage_stock');

 if ($managestockdt != 0 && $stockquantitynotconfigurable <= 0 && $_product->getTypeId() =="simple") {
?>
<div class="outof-stock-products-block">

		<h2> Apologies,this product will be available in approximately 60 days.</h2>
		<h3> Leave us your email and we'll notify you as soon as it's available.</h3>

		<form action="#" method="post">
			<p><input type="mail" name="t4" required placeholder="Email Address" title="enter email">

			<input type="submit" value="Notify me"></p>

	</form>

</div>

<?php   } ?>


<?php
//cross sell products
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
        $ManageStock = $objectManager->get('\Magento\CatalogInventory\Api\StockRegistryInterface');
 $stockquantitynotconfigurable = $StockState->getStockQty($_product->getId(), $_product->getStore()->getWebsiteId());

	    $ManagSkValue = $ManageStock->getStockItem($_product->getId());

            $managestockdt = $ManagSkValue->getData('manage_stock');

 if ($managestockdt != 0 && $stockquantitynotconfigurable <= 0 && $_product->getTypeId() =="simple") {
?>
<div class="m-cross">
    <div class="cross-acc">
        <h2>OR SEE SIMILAR PRODUCTS</h2>
    </div>
<div class=cross-sell-products>
	<?php $var=$block->getProduct();
			$image = 'category_page_list';

			$crossSellProducts = $var->getCrossSellProducts();

			foreach ($crossSellProducts as $crossSellProduct) {
		     ?>

								<?php  $sku =  $crossSellProduct->getSku();

							   $pr = $productRepository->get($sku);
								$productImage = $block->getImage($pr, $image);
							  // echo $pr;

							  ?>
							<?php if($isLoggedIn) 	{ ?>
							    <div class="product-item">

								 <div class="product-item-photo">
									 <a href="<?php /* @escapeNotVerified */ echo $crossSellProduct->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
										<?php echo $productImage->toHtml(); ?>
									</a>
									</div>
							   <div class="product-item-name"><?php echo $pr->getName();?></div>
							   <div class="product-item-price"> <?php   echo $pr->getPrice(); ?></div>
							   </div>
							   <?php } else { ?>
								   <div class="product-item">
                                       <?php $_getMyAttr = $pr->getResource()->getAttribute('tilray_profile'); ?>
                                       <?php $_thcProfile = strtolower($_getMyAttr->getFrontend()->getValue($pr)); ?>
								 <div class="<?php /* @escapeNotVerified */
                                 echo "product-item-photo chem-type " . $_thcProfile; ?>" >
									 <a href="<?php /* @escapeNotVerified */ echo $crossSellProduct->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
										<?php $_getMyAttr = $pr->getResource()->getAttribute('tilray_profile'); ?>
										<?php /* @escapeNotVerified */ echo $_getMyAttr->getFrontend()->getValue($pr); ?>
									</a>
									</div>
							   <div class="product-item-name"><?php echo $pr->getName();?></div>
                               <div class="sb-name">
								<?php $_getMyAttr2 = $pr->getResource()->getAttribute('category_attribute'); ?>
								<?php /* @escapeNotVerified */ echo $_getMyAttr2->getFrontend()->getValue($pr);  ?>
								</div>
							   </div>
								   <?php } ?>
			   <?php   } ?>

</div>
</div>
 <?php   } ?>


