	 
	<?php $coll=$this->getLatestPosts(); ?>
	<div class="news-three-column">
		      <h1>News</h1>
			<table>
			<tbody>
			<tr>

	<?php if(count($coll)){


	$mediaUrl = $this->getMediaUrl();

	foreach($coll as $post)
	{
	?>
		      
			<td>
		        <div>
		       <a href="<?php echo $this->getPostUrl($post->getData('post_id')); ?>"></a>
		          <img class="hidden-xs" alt="title" src="<?php echo $mediaUrl.$post->getData('featured_img'); ?>">
		          <h4><?php echo $post->getData('title') ;?></h4>
		        <?php // $post->getData('content') ;
			$string = strip_tags($post->getData('content'));
			$text=$post->getData('content');
			$stringcutpagebreak = stripos($text,'<!-- pagebreak -->');
			if($stringcutpagebreak){
				$stringcutnum=$stringcutpagebreak;
			} else {
				$stringcutnum=300;
			}

			if (strlen($text) > $stringcutnum) {
				// truncate string
				$stringCut = substr($text, 0, $stringcutnum);
				$string = substr($stringCut, 0, $stringcutnum).' <a href="'.$this->getPostUrl($post->getData('post_id')).'"target="_blank" class="readmore">Read More</a>';
			}
			echo $string;
		        
			?>
		   </div>
			</td>
			<?php } ?>
			</tr>
			</tbody>
			</table>

		

	<?php } ?>
		       
	</div>

	      <div class="big-button see-news"><a href="<?php echo 
	$block->getUrl('blog');?>"><span>See all news</span></a>
	 </div>  

