<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
/** @var \Amasty\Shopby\Model\FilterSetting $filterSetting */
/** @var \Amasty\Shopby\Block\Navigation\FilterRenderer $block */

$filterUniqId = $block->escapeId(uniqid());

if(!\function_exists('renderCategoryTree')) {
    function renderCategoryTree($filterItems, $startPath, $block, $filterSetting)
    {
        static $level = 1;
        $level++;
        ?>
        <?php /** @var \Amasty\Shopby\Model\Layer\Filter\Item $filterItem */?>
        <?php /** @var \Amasty\Shopby\Model\Layer\Filter\CategoryItems $filterItems */?>
        <?php foreach ($filterItems->getItems($startPath) as $filterItem): ?>
            <?php
                $uniqId = uniqid();
                $inputType = !$filterSetting->isMultiselect() ? 'radio' : 'checkbox';
                $currentPath = ($startPath ? : $filterItems->getStartPath()) . '/'.  $filterItem->getValueString();
            ?>
            <li class="item" data-label="<?php echo $block->escapeHtml($filterItem->getLabel())?>">
                <?php if($filterItems->getItemsCount($currentPath) && $filterSetting->getSubcategoriesExpand() == \Amasty\Shopby\Model\Source\SubcategoriesExpand::BY_CLICK): ?>
                    <span class="amshopby-category-collapse-icon"> </span>
                <?php endif; ?>

                <?php $checked =  $block->checkedFilter($filterItem) ? ' checked' : ''; ?>
                <a
                    class="am_shopby_filter_item_<?php echo $block->escapeId($uniqId)?> <?php if($filterItems->getItemsCount($currentPath) && $filterSetting->getSubcategoriesExpand() == \Amasty\Shopby\Model\Source\SubcategoriesExpand::BY_CLICK) {echo "amshopby-filter-parent";}?>"
                    href="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>
                ">
                    <input
                        name="amshopby[<?php echo $block->getFilter()->getRequestVar();?>][]"
                        value="<?php echo $filterItem->getValueString();?>"
                        type="<?php echo $inputType;?>"
                        <?php echo $checked ?>
                    />
                    <span class="label"><?php echo $filterItem->getLabel() ?></span>
                    <?php if ($filterSetting->isShowProductQuantities()) : ?>
                        <span class="count"><?php echo $filterItem->getCount()?><span class="filter-count-label">
                            <?php if ($filterItem->getCount() == 1):?> <?php echo __('item')?><?php else:?> <?php echo __('items') ?><?php endif;?></span></span>
                    <?php endif; ?>
                </a>


                <script type="text/x-magento-init">
                    {
                        ".am_shopby_filter_item_<?php echo $block->escapeId($uniqId)?>": {
                            "amShopbyFilterCategoryLabelsFolding": {
                                "collectFilters": <?php echo $block->collectFilters();?>
                            }
                        }
                    }
                </script>
                <?php

                if($filterItems->getItemsCount($currentPath)) {
                    ?>

                    <ol class="items items-children level-<?=$level?>">
                        <?php
                        renderCategoryTree($filterItems, $currentPath, $block, $filterSetting, $checked);
                        ?>
                    </ol>
                    <?php
                }
                ?>

            </li>
        <?php endforeach ?>

        <?php
    }
}
?>

<?php if($filterSetting->isShowSearchBox()): ?>
    <div class="amshopby-search-box">
        <input type="text" class="am_shopby_filter_search_box_<?php echo $filterSetting->getFilterCode();?>" placeholder="<?php echo __("Search")?>">
    </div>
<?php endif; ?>

<ol class="items am_shopby_filter_items_<?php echo $filterSetting->getFilterCode();?> amshopby-category-labels-folding" <?php if ($filterSetting->getEnableOverflowScroll() > 0): ?>
    style="max-height:<?php echo $filterSetting->getEnableOverflowScroll() ?>px;overflow-y: auto;overflow-x: -moz-hidden-unscrollable;"
<?php endif; ?>>
    <form data-amshopby-filter="<?php echo $filterSetting->getFilterCode();?>">
        <?php renderCategoryTree($filterItems, null, $block, $filterSetting); ?>
        <?php /** @var \Amasty\Shopby\Model\Layer\Filter\Item $filterItem */?>
        <?php /** @var \Amasty\Shopby\Model\Layer\Filter\CategoryItems $filterItems */?>
    </form>
</ol>

<?php
if($filterSetting->getSubcategoriesExpand() == \Amasty\Shopby\Model\Source\SubcategoriesExpand::BY_CLICK):
    ?>
    <script>
        require(["jquery", "jquery/ui"], function ($) {
            $(".amshopby-category-collapse-icon").nextAll('ol').each(function(){
                if($(this).find('input[checked]').length == 0) {
                    if ($(this).siblings(".amshopby-filter-parent").find('input[name^="amshopby[cat]"]').first().prop("checked")) {
                        return true;
                    }
                    $(this).hide();
                } else {
                    $(this).prevAll('.amshopby-category-collapse-icon').toggleClass('_active');
                }
            });
            $(".amshopby-category-collapse-icon").click(function(e){
                $(this).nextAll('ol').toggle();
                $(this).toggleClass('_active');
                e.preventDefault();
                e.stopPropagation();
            });
        });
    </script>
    <?php
endif;
?>
<?php if($filterSetting->isShowSearchBox()): ?>
    <script type="text/x-magento-init">
            {
                ".am_shopby_filter_search_box_<?php echo $filterSetting->getFilterCode()?>": {
                    "amShopbyFilterSearch": {
                        "highlightTemplate": "<span class='amshopby-hightlighted'>$&</span>",
                        "itemsSelector": ".am_shopby_filter_items_<?php echo $filterSetting->getFilterCode();?>"
                    }
                }
            }
    </script>
<?php endif; ?>

<?php if($filterSetting->getNumberUnfoldedOptions()): ?>
    <button class="amshopby-more-button">
        <a class="am_shopby_filter_items_<?php echo $filterSetting->getFilterCode()?>_show_more" data-text-more="<?php echo __("More")?>" data-text-less="<?php echo __("Less")?>" href="javascript:void(0)" data-is-hide="false">
            <?php echo __("Less")?>
        </a>
    </button>
    <script type="text/x-magento-init">
            {
                ".am_shopby_filter_items_<?php echo $filterSetting->getFilterCode()?>": {
                    "amShopbyFilterHideMoreOptions": {
                        "numberUnfoldedOptions": <?php echo $filterSetting->getNumberUnfoldedOptions()?>,
                        "buttonSelector": ".am_shopby_filter_items_<?php echo $filterSetting->getFilterCode()?>_show_more"
                    }
                }
            }
    </script>
<?php endif; ?>


