<!-- ko if: isDisplayed() -->
<tr class="savings totals">
    <th colspan="1" style="" class="mark" scope="row">
        <span data-bind="i18n: 'Your Total Savings on this order:'"></span>
    </th>
    <td class="amount" data-bind="attr: {'data-th': title}">
        <span><span class="price" data-bind="text: getValue()"></span></span>
    </td>
</tr>
<!-- /ko -->
