<li class="en-language"><a href="<?php echo $this->getUrl('#'); ?>">EN </a></li>
<li class="fr-language"><a href="<?php echo $this->getUrl('#'); ?>">FR </a></li>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Framework\App\Http\Context');
$isLoggedIn = $customerSession->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH);
 if(!$isLoggedIn){ ?>
<li class="header-account"><img src='<?php echo $this->getViewFileUrl('images/user-icon.svg'); ?>' alt="Account">Account<ul><li><a href="https://customer.tilray.ca/en/Authentication/Login">Sign in </a></li>
<li><a href="https://customer.tilray.ca/en/Signup">Register </a></li></ul></li>
<?php } ?>
<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */
$welcomeMessage = $block->getWelcome();
?>
<?php switch ($block->getShowPart()):
    case 'welcome': ?>
        <li class="greet welcome" data-bind="scope: 'customer'">
            <!-- ko if: customer().fullname  -->
            <span data-bind="text: new String('<?php echo $block->escapeHtml(__('Welcome, %1!', '%1'));?>').replace('%1', customer().firstname)">
            </span>
            <!-- /ko -->
            <!-- ko ifnot: customer().fullname  -->
            <span data-bind="html:'<?=$block->escapeHtml($welcomeMessage) ?>'"></span>
            <!-- /ko -->
        </li>
        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        
        </script>



        
    <?php break; ?>

    <?php case 'other': ?>
        <?php echo $block->getChildHtml(); ?>
    <?php break; ?>

<?php endswitch; ?>


<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) { ?>
    <script type="text/javascript">


        require(['jquery'],function($){
            $( window ).load(function()  {
                $('body').addClass('customer-logged-in');
            });
        });
    </script>
<?php } ?>
