<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Theme\Block\Html\Title
 */
$cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';
$title = '';
if (trim($block->getPageHeading())) {
    $title = '<span class="base" data-ui-id="page-title-wrapper" ' . $block->getAddBaseAttribute() . '>'
        . $block->escapeHtml($block->getPageHeading()) . '</span>';
}

?>
<?php
$currentCatId ='';
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
if(is_object($category)){
    $currentCatId = $category->getId();
}
$currentAction = $this->getRequest()->getControllerName();
?>
<?php if ($title): ?>
    <div class="page-title-wrapper<?php /* @escapeNotVerified */
    echo $cssClass; ?>">
        <h1 class="page-title"
            <?php if ($block->getId()): ?> id="<?php /* @escapeNotVerified */
            echo $block->getId(); ?>" <?php endif; ?>
            <?php if ($block->getAddBaseAttributeAria()): ?>
                aria-labelledby="<?php /* @escapeNotVerified */
                echo $block->getAddBaseAttributeAria(); ?>"
            <?php endif; ?>>
            <?php /* @escapeNotVerified */
            echo $title ?>
        </h1>
        <?php
        //
        if ($currentCatId == 6 && $currentAction=='category') { ?>
            <?php
            $categoryId = 7;
            $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $object_manager = $_objectManager->create('Magento\Catalog\Model\Category')->load($categoryId);
            //echo "<pre>";
            //print_r($object_manager->getData());
            ?>
            <h1 class="page-title"><a href="<?php echo $object_manager->getUrl() ?> "> <?php /* @escapeNotVerified */
                    echo $object_manager->getName() ?></a></h1>
        <?php } ?>

        <?php
        if ($currentCatId == 7 && $currentAction=='category') { ?>
            <?php
            $categoryId = 6;
            $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $object_manager = $_objectManager->create('Magento\Catalog\Model\Category')->load($categoryId);
            //echo "<pre>";
            //print_r($object_manager->getData());
            ?>
            <h1 class="page-title"><a href="<?php echo $object_manager->getUrl() ?> "> <?php /* @escapeNotVerified */
                    echo $object_manager->getName() ?></a></h1>
        <?php } ?>

        <?php echo $block->getChildHtml(); ?>
    </div>
<?php endif; ?>
