@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proxima-fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima-fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proxima-fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proxima-fonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proxima-fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proxima-fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proxima-fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proxima-fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {

	font-family: 'proxima_nova_rgregular';
}

h4 { color: #084875; font-family: 'proxima_nova_rgbold';}

p { color: #818486; font-size: 18px; font-family: 'proxima_novalight';}


/* mixin */

.nav-pointer { /* arrow pointers */
	content: " ";
    color: #fff;
    border-left: 1px solid #dedede;
    border-top: 1px solid #dedede;
    position: absolute;
    background: #fff;
    transform: rotate(45deg);
    line-height: 0.6;
    width: 8px;
    height: 8px;

    @media screen and (max-width: 767px) { display: none; }
}

.icon-before { background-size: cover; content:""; display: inline-block; position: relative; }

/* mixin end */

header {

	&.page-header {

		.panel.wrapper {

			background-color: #084875; padding: 0;

			@media screen and (max-width: 767px) { display: none; }

			.panel.header { max-width: 1200px; padding: 0;}

			div.top-head-links {  

				display: inline-block;

				ul {

					margin: 0; padding: 0;

					li { 

						list-style-type: none; border-right: solid 1px #265e85; display: inline-block;
						margin-bottom: 0;  text-align: center;

						&:nth-of-type(1) { 

							border-left: solid 1px #265e85; padding: 0;

							img { position: relative; top: 2px; margin-right: 9px; }

							a { padding: 6px 14px 3px 13px; }
						}

						a { 

							color: #fff; font-family: 'proxima_nova_rgregular'; font-size: 13px; letter-spacing: 0.4px;

							padding: 8px 0px 3px; min-width: 30px; display: block;

						}
					}
				}
			} //div.top-head-links

			ul.header.links {

				margin: 0 72px 0 0;

				.en-language { border-right: solid 1px #265e85; border-left: solid 1px #265e85; font-family: 'proxima_novasemibold'; background-color: #04385d; }

				.fr-language > a { color: #779ab3; }

				div.minicart-wrapper+li+li { font-family: 'proxima_novasemibold';}

				div.minicart-wrapper+li+li+li { 

					padding: 4px 10px 4px 8px;

					a:before { 

						background-image: url("../images/user-icon.svg"); height: 16px; width: 16px;
						margin-right: 7px; top: 3px; .icon-before;
					}

				}

				> li { 

					border-right: 1px solid #265e85; margin: 0;
					font-family: 'proxima_nova_rgregular'; font-size: 13px; letter-spacing: 0.4px;

					a { padding: 6px 10px 6px 8px; }
				}

				li.customer-welcome {

					height: 20px; margin-right: 30px!important; padding-top: 5px; padding-left: 12px; padding-right: 12px; padding-bottom: 5px;					

				}

				.header-account {

					position: relative; cursor: pointer; padding: 2px 13px 5px 10px;

					img { position: relative; top: 4px; margin-right: 8px; }

					ul {

						position: absolute; width: 320px; background: #fff; padding: 0; z-index: 999;

						border: 1px solid #DEDEDE; top: 39px; left: -220px; display: none;

						@media screen and (max-width: 767px) { display: block; }

						&:before { .nav-pointer/*mixin*/; right: 30px; top: -5px; }

						li {

							 padding: 10px; list-style-type: none; text-align: center; margin-bottom: 0;

							 &:nth-of-type(1) { border-bottom: 1px solid #DEDEDE; }

							 a { font-family: 'proxima_nova_rgregular'; color: #4C4C4C; font-size: 15px; }

						}
					}
				}

				.greet.welcome { padding: 0; margin: 0; display: none; }

			} //ul.header.links

		}  // panelwrapper

		div.header.content { 

			max-width: 1200px; padding-left: 0; padding-right: 0; padding-top: 26px;

			@media screen and (max-width: 1240px) { padding-left: 15px; padding-right: 15px; }

			@media screen and (max-width: 767px) { 

				padding-top: 17px; padding-bottom: 20px; border-bottom: 1px solid #404040;

				.nav-toggle { top: 12px; }

			}

			div.block.block-search { 

				@media screen and (min-width: 1280px) { width: 278px; padding-left: 0; margin-top: -5px; }

				@media screen and (min-width: 768px) and (max-width: 914px) { width: 22%; }

				@media screen and (max-width: 767px) { 

					margin-top: 2px; display: inline-block; float: right; /*width: 100%;*/

					.control { 

						border-top: 0; position: absolute; margin: 50px 0 0 0; left: 0; right: 0; padding: 0;

						input { width: 100%; margin: 0; padding: 26px 20px; }

					}

					.label::before { margin: 0; }

				}

				input { border: 0; border-bottom: solid 1px #dedede; font-family: 'proxima_nova_rgregular'; padding-left: 0; font-size: 13px; } 

				._keyfocus *:focus, input:focus:not([disabled]) { box-shadow: none; }

				.action.search { 

					right: 0px;

					&:before { color: #404040; } 
				}

				.label::before  { color: #404040; font-size: 20px; }
			}

			.nav-toggle { 

				&:before { color: #080808; }

			}
		}

	} // page-header

	.logo { 

		@media screen and (min-width: 767px) { 

			margin-top: 0; 

			img { width: 188px; }

		}

		@media screen and (max-width: 1050px) { img { width: 140px; } }

		@media screen and (max-width: 767px) {

			margin: auto; position: absolute; left: 0; right: 0; width: 100%; text-align: center;
			float: none; max-width: 70%;

			img { display: inline; width: 120px; margin-top: 5px; }
		}

	}

}

/* === Minicart === */

div.minicart-wrapper {

	height: 30px; border-right: solid 1px #265e85; padding-right: 10px; padding-left: 10px;
	margin-left: 0px; position: absolute; top: -31px; right: 0; z-index: 999;

	.action.showcart {

		margin-top: 7px;

		&:before { 

			background-image: url("../images/cart-icon.svg"); height: 16px;
			content:""!important; display: inline-block; width: 16px; margin-right: 5px!important;
			background-size: cover; margin-top: -1px;

			@media screen and (max-width: 767px) { background-image: url("../images/cart-icon-mb.svg"); width: 22px; height: 21px; }
		}

		span.text { 

			font-family: 'proxima_nova_rgregular'; font-size: 13px; position: relative; color: #fff; display: inline-block;
			text-indent: -20px; overflow: hidden; width: 30px; height: initial;letter-spacing: 0.4px;

			@media screen and (max-width: 767px) { display: none; }
		}

		.counter.qty { 

			background: #EB9C47; height: 20px; width: initial; min-width: initial; border-radius: 100%;

			width: 15px; vertical-align: top; margin: 0; position: relative; top: -2px;

			.counter-number { font-size: 12px; position: relative; top: -2px; right: 1px; }

			.empty { height: 18px; line-height: 18px; margin: 0 0 0 5px; } 
		}

	}

	@media screen and (max-width: 767px) {

		position: absolute; top: 15px; right: 55px; border-right: 0; margin-top: 0px;

	}
}

.header.content .block-minicart { 

	width: 320px; padding: 20px 16px; right: 0; top: 35px;

	@media screen and (max-width: 500px) {

		position: fixed; width: 100%; top: 63px; border: 0; border-top: 1px solid #dedede; box-shadow: none; height: 100%;

		&:before { right: 75px; }

		&:after { right: 74px; }
	}

	#btn-minicart-close { display: none; }

	#minicart-content-wrapper {

	 	.subtitle { font-family: 'proxima_nova_rgregular'; color: #4C4C4C; font-size: 15px; padding: 0px 0 10px; }

	 	p.extra-message { 

	 		background: #084875;  text-align: center; width: 285px; height: 40px;

	 		@media screen and (max-width: 500px) { width: 100%; height: 60px; }

	 		a { 

	 			font-size: 14px; color: #fff; font-family: 'proxima_nova_rgregular'; padding: 10px 0; display: block;

	 			@media screen and (max-width: 500px) { font-size: 15px; padding: 20px 0; }
	 		}

	 	}

	 	a, .price, label, span { .minicart-style; }

	 	div.actions {

	 		.primary {

	 			margin: 0 0px 15px;

		 		button#top-cart-btn-checkout {

		 			background: #084875; font-family: 'proxima_novasemibold'; border: 0; border-radius: 0;

		 			span { color: #fff; font-size: 14; }
		 		}
		 	}

		 	.secondary {

		 		a.viewcart { /*.minicart-style;*/ text-decoration: underline; }
		 	}

	 	}

	 	div.product-item-pricing {

	 		.price { color: #818486; }
	 	}

	 	div.product-item-pricing+.div.product.actions { display: none; }

	 	div.subtotal {

	 		text-align: center; clear: both;

	 		.amount.price-container {

	 			display: inline-block;
	 		}
	 	}

	 	.details-qty.qty {

	 		label { width: initial; }

	 		input { border: 0; width: 20px; padding: 0; }

	 		.product.actions { display: none; }
	 	}

	 	.items-total {

	 		margin: 0 10px 20px; text-align: center; float: none;
	 	}

	 	div.minicart-items-wrapper {

	 		height: initial!important; margin: 12px -17px 0; border-bottom: 0;

	 		a.product-item-photo { border: 1px solid #dedede; }

	 		.product-item-details  {

	 			.details-qty { margin-top: -3px; } 

	 			.product.actions { display: none; }
	 		}
	 		
	 	}

	 	div.subtotal { border-top: 1px solid #dedede; padding-top: 10px; margin: 0px; }
	}
}

/* == mixin st ==*/

.minicart-style { color: #4C4C4C; font-family: 'proxima_novasemibold'; font-size: 13px; letter-spacing: 0.5px; }

/* == mixin en ==*/

.cms-home #maincontent.page-main { /* for home page */

	width: 100%;  max-width: 1440px; padding: 0;

	@media screen and (max-width: 767px) { 

		padding: 0; 

		.column.main { padding-bottom: 0; width : 100%; max-width: 100%;} 

	}

}

/* for inner page */
#maincontent.page-main, .breadcrumbs { 

	width: 100%;  max-width: 1200px; 

	@media screen and (min-width: 1280px) { padding-left: 0; padding-right: 0 }

	@media screen and (max-width: 767px) { width: initial; }

}

.en-language, .fr-language { @media screen and (max-width: 767px) { display: none; }  }


/* ==== navigation ==== */

.sections.nav-sections {

	@media screen and (min-width: 768px) { margin-bottom: 0; }

	nav.navigation { /* desktop */

		background: #fff; width: initial;

		.level0 > .level-top { color: #818486;  }

		.level0.active>.level-top, .level0.has-active>.level-top { border: 0; }

		ul {

			text-align: center;

			@media screen and (min-width: 768px) { top: -5px; padding: 0;}
			
			li.level0 {

				margin: 0 80px 0 0;

				@media screen and (min-width: 1281px) {

					&.nav-1.first { margin-left: 70px; }
				}


				@media screen and (max-width: 1280px) { margin: 0 3%; }

				@media screen and (max-width: 972px) { margin: 0 2.5%; }

				@media screen and (max-width: 842px) { margin: 0 2%; }

				@media screen and (max-width: 767px) { margin: 0; }

				>a {
					color: #818486; font-size: 14px; font-family: 'proxima_nova_rgregular'; text-transform: uppercase;
					padding: 0; letter-spacing: 0.3px;
				}

				a { text-decoration: none; }

				&.parent {

					> a:after { 

						background-image: url("../images/nav-arrow.svg"); height: 7px; width: 9px; top: -3px;
						
						margin-left: 7px; .icon-before;
					}
				}

				&.nav-1 {

					>a { pointer-events: none; }
			
		/* mixin */	.med-icon { background-size: cover; position: relative; top: 3px; content:""; display: inline-block; margin-right: 8px; height: 16px; width: 16px; }

					li.nav-1-1 {

						> a:before { 

							background-image: url("../images/medical-leaf.svg"); .med-icon;							  
						}

					}

					li.nav-1-2 {

						> a:before { 

							background-image: url("../images/plus-acc.svg"); .med-icon;
						}

					}
				}

				&.nav-4 {

					ul.submenu { 

						top: 30px;

						li { 

							a { line-height: 22px; }
						}
					}
				}

				ul.submenu {

					box-shadow: none; border-color: #dedede; left: -140px!important;

					&:before { .nav-pointer; top: -5px; right: 44px; z-index: 9; }

					li { 

						font-size: 14px; font-family: 'proxima_novasemibold'; text-align: left;

						border-bottom: 1px solid #dedede; margin-bottom: 0; z-index: 99; position: relative;

						&:last-child { border: 0; }

						a { padding-top: 12px; }

						@media screen and (max-width: 767px) {
							border: 0;
						}
					}

					.active>a { border: 0; }

				}

			}
		}

		.top-links-mobile-menu { /* seperate menu for mobile */

			@media screen and (min-width: 768px) { display: none; }

			@media screen and (max-width: 767px) { 

				display: block; 

				ul, div ul { display: block!important; }
			}

			a { font-family: 'proxima_novasemibold'; font-size: 14px; text-transform: uppercase; letter-spacing: 0.4px; }

			.mb-switch-lang {

				color: #fff; padding: 9px 20px; border-bottom: 1px solid #265e85; text-transform: uppercase; font-family: 'proxima_novasemibold';

				span.language-mobile-menu {

					background: #818486; border-radius: 10px; display: block; position: relative;

					width: 93px; display: inline-block; margin-left: 20px;

					a {
						display: inline-block; padding: 6px 14px; font-family: 'proxima_novasemibold'; color: #fff; 

						&.lang-active {

						    background: #fff none repeat scroll 0 0; border-radius: 10px; color: #265e85;
						}
					}
				}
			}

			.top-international-mobile-menu {

				li { padding: 13px 20px; }

				a { padding: 0; }

				img { position: relative; top: 2px; margin-right: 5px; }
			}

			.top-social-logos-mobile-menu {

				ul { padding: 14px 20px 11px; }

				li {

					padding: 0; display: inline-block; border: 0; margin-right: 45px;

					a { padding: 0;

						img { width: 20px; }
					}

					&:nth-of-type(1) {

						a img { width: 9px; }
					}
				}
			}

		}
		

	} // nav.navigation

	.nav-sections-items { /* mobile */

		@media screen and (max-width: 767px) {

			.nav-sections-item-title {

				padding-top: 0; height: 50px; width: 50%;

				a { 

					color: #818486; font-family: 'proxima_nova_rgregular'; font-size: 18px; display: block; padding: 12px 0; 

					&.nav-sections-item-switch:before { 

						content:""; font-family: "luma-icons"; font-size: 18px; color: #404040; margin-right: 8px;
						position: relative; top: 2px;

					}
				}

				&.active { 

					background: #fff; 

					a { color: #404040; font-family: 'proxima_nova_rgregular'; font-size: 18px; }

				}

			}

			div {

				&:nth-of-type(3) { 

					a { 

						&.nav-sections-item-switch:before { 

							background-image: url("../images/user-icon-grey.svg"); height: 17px; width: 17px;

							margin-right: 8px; top: 3px; .icon-before;

						}
					}
				}

				&.active:nth-of-type(3) { 

					a { 

						&.nav-sections-item-switch:before { 

							background-image: url("../images/user-icon-black.svg"); height: 17px; width: 17px;

							margin-right: 8px; top: 3px; .icon-before;

						}
					}
				}

			}

			.nav-sections-item-content {

				padding-top: 0; margin-top: 50px; 

				/*nav.navigation {*/

					ul { 

						text-align: left; background: #084875;

						> li { 

							margin: 0; color: #fff; padding: 14px 20px; border-bottom: 1px solid #265e85; border-top: 0;

							a, span { color: #fff; }

							&.level0.parent > a { 

								&::after { background-image: url("../images/nav-arrow-white.svg"); margin-left: 20px; width: 11px; }

								&.ui-state-active::after { transform: rotate(180deg); } 

							}

							ul {

								border-top: 0; padding-top: 5px;

								li {

									padding: 0; border: 0;

									a { font-family: 'proxima_nova_rgregular'; letter-spacing: 0.6px; }

									&:last-child { a { padding-bottom: 0; } }
								}

							}

							&.customer-welcome {

								padding: 0!important;

								.header.links {

									padding-top: 0; border-bottom: 1px solid #265e85;
								}
							}
							
						}

						li.level0.nav-1 li.nav-1-1 > a::before, li.level0.nav-1 li.nav-1-2 > a::before {

							background: none; height: 0; width: 0;
						}
					}

				/*}*/

				.header-account {

					padding: 0; visibility: hidden;

					img { display: none; }

					ul {

						padding: 0; visibility: visible; margin-top: -22px; 

						@media screen and (max-width: 767px) { display: block; }

						li {

							list-style-type: none; border-bottom: 1px solid #265e85; border-top: 0;

							a { border: 0; text-transform: uppercase; padding: 15px 20px 13px!important; }

							&:last-child { border-bottom: 0; }
						}
					}
				}

				.minicart-wrapper { display: none; }

				.greet.welcome { padding: 0; border: 0; display: none; }
			}
		} // media max 767

		@media screen and (max-width: 360px) {

			.nav-sections-item-title {

				width: 50%;
			}
		}
	}


}

div.shop-three-column {

	clear: both; max-width: 1440px; margin: auto; width: 100%;

	@media screen and (max-width: 650px) {

		border-top: 1px solid #DEDEDE; margin-top: 40px;
	}

	div { 

		text-align: center; padding: 40px 0 34px; 

		@media screen and (min-width: 651px) {

			float: left; width: 33.33%; border-right: 1px solid #DEDEDE; box-sizing: border-box; min-height: 255px;

			&:nth-of-type(3) { border-right: 0px; }

			p { max-width: 180px; margin:auto; }
		}

		@media screen and (max-width: 650px) {

			width: 100%; border-bottom: 1px solid #DEDEDE; padding: 30px 0 25px; 

			&:nth-of-type(3) { border-bottom: 0px; }

			p { max-width: 100%; margin:auto; padding: 0 18px; }
		}

		h2 { 

			color: #404040; font-size: 24px; font-family: 'proxima_nova_rgbold'; margin-top: 14px; margin-bottom: 13px;

			@media screen and (max-width: 650px) {

				font-size: 21px; margin-top: 12px; margin-bottom: 12px;
			}

		}

	}
}

div.video-section {

	clear:both; background: url("../images/video-bg.jpg"); background-size: cover; background-repeat: no-repeat;

	@media screen and (max-width: 767px) {

		background: url("../images/video-bg-mb.jpg"); background-size: cover; background-repeat: no-repeat;

	}

	div.videocontent-overlay {

		max-width: 520px; text-align: center; margin: auto; padding-top: 9%; padding-bottom: 9%;

		h1 { font-family: 'proxima_novasemibold'; color: #fff; font-size: 45px;  margin-bottom: 20px; }

		p { font-family: 'proxima_nova_rgregular'; font-size: 22px; color: #fff; margin-bottom: 20px; }

		img.play-video { cursor: pointer; }

		@media screen and (max-width: 767px) {

			padding-left: 20px; padding-right: 20px;

			h1 { font-size: 30px; }

			p { font-size: 18px; }

			img.play-video { max-width: 60px; }
		}
	}
}

div.news-three-column {

	clear: both; display: table; margin-bottom: 60px; margin-top: 34px;

	h1 { font-family: 'proxima_nova_rgbold'; font-size: 45px; text-align: center; }

	table {

		tr td {

			padding: 0; border: 1px solid #DEDEDE; width: 33%; position: relative;

			@media screen and (max-width: 750px) { 

				border-collapse: collapse; display: inline-table; border: 0; width: initial;

				div { margin-bottom: 30px; }
			}

		}
	}

	@media screen and (max-width: 750px) { 

		margin-bottom: 0px; margin-top: 29px;

		h1 { font-size: 30px; margin-bottom: 27px; }
	}

	div { 

		padding: 50px; padding-bottom: 35px; 

		>a {
			position: absolute; height: 100%; width: 100%; left: 0; top: 0; padding: 0!important;
		}

		img { max-width: 100%; }

		@media screen and (max-width: 1000px) {

			padding: 50px 6%;

		}

		h4 { font-size: 20px; margin-bottom: 10px; margin-top: 16px; padding-left: 10px; line-height: 26px; }

		p { 
			margin-bottom: 7px; padding-left: 10px; line-height: 26px; letter-spacing: 0.35px;

			a { 

				color: #404040; font-size: 14px; font-family: 'proxima_novasemibold'; display: block;

				margin-top: 12px; padding: 0; text-transform: uppercase;

				&:after { 

					background-image: url("../images/read-arrow.svg"); height: 10px;
					content:""; display: inline-block; width: 7px; margin-left: 5px; background-size: cover;
				}

			}

		}

		@media screen and (max-width: 750px) { 

			margin-bottom: 40px; padding: 0px;

			*{ padding-left: 18px; padding-right: 18px; }

			img { padding: 0!important; max-width: 100%; }

			h4 {margin-top: 13px; padding-left: 18px; padding-right: 18px;} 

			p { margin-bottom: 10px; padding-left: 18px; padding-right: 18px; } 
		}
	}
}

div.big-button.see-news {

	clear: both; text-align: center; margin-bottom: 20px;

	@media screen and (max-width: 750px) { padding: 19px; margin-bottom: 0; border-top: 1px solid #dedede; }

	a { 
		text-decoration: none; width: 180px;

		span { 

			font-family: 'proxima_nova_rgregular'; background-color: #084875;
			margin: auto; color: #fff; font-size: 18px; padding: 19px 40px;

			@media screen and (max-width: 750px) { display: block; }
		}

		@media screen and (max-width: 750px) { width: 100%; }
	}

}

footer.page-footer {

	@media screen and (min-width: 768px) { padding-bottom: 28px; }

	@media screen and (max-width: 750px) { margin-top: 0px; }

	.footer.content { 

		max-width: 1200px; margin: auto; padding-top: 46px;

		@media screen and (min-width: 1280px) { padding-left: 0; padding-right: 0; }

		@media screen and (max-width: 767px) { display: table; text-align: center; border: 0; padding-top: 27px; }

		> div { 

			float: left; display: inline-block; width: 38%;

			@media screen and (max-width: 1000px) { width: 35%; }

			@media screen and (max-width: 767px) { width:100%; margin-right: 0; float: none; }

		}

		.news-letter-social-icons { 

			width: 24%;

			@media screen and (max-width: 1000px) { width: 30%; }

			@media screen and (max-width: 767px) { margin-bottom: 20px; width:100%; margin-top: 25px;}    

			.footer-social-login { 

				display: block; clear: both; 

				@media screen and (max-width: 767px) { float: none; margin: auto; } 

			}
		}

		.block.newsletter { 

			width: 280px; margin-bottom: 33px;

			@media screen and (max-width: 767px) { margin-left: auto; margin-right: auto; margin-bottom: 28px; }    

			div.title, div.content { float: none; }

			div.title { display: block; 

				strong { font-family: 'proxima_nova_rgregular'; font-size: 20px; margin-bottom: 18px; color: #fff; letter-spacing: 0.4px; }

			}

			div.content {

				div.field.newsletter { float: left; }

				@media screen and (max-width: 767px) { 

					.form.subscribe {

						text-align: center; margin: auto; max-width: 300px;

						div.field.newsletter { float: left; width: initial;

							div.control { 

								input { width: initial; }
							}

						 }

						div.actions { width: initial; }
					}
				}
			}

			.field.newsletter div.control { 

				&:before { content:""; }

				input { 
					background: #4b4b4b; border:0; height: 40px; padding: 0 20px; color: #fff;
				}
			}

			div.actions .action.primary {

				background: #EB9C47; height: 40px; color: #fff; border-radius: 0; border: 0;

				span { font-size: 14px; font-family: 'proxima_nova_rgregular'; }
			}
		}

	}

	background: #404040; 

	ul { margin: 0; padding: 0; }

	li, a {

		font-family: 'proxima_nova_rgregular'; font-size: 15px; color: #d5d5d5; letter-spacing: 0.29px;

		@media screen and (max-width: 767px) { font-size: 16px; letter-spacing: 0.33px; }
	}

	h4 { 
			color: #fff; font-family: 'proxima_nova_rgregular'; font-size: 20px; margin-bottom: 14px;
			margin-top: 0; letter-spacing: 0.4px; 

			@media screen and (max-width: 767px) { margin-bottom: 13px; }
		}

	.footer-contact-us { 

		li { 

			font-family: 'proxima_nova_rgregular'; font-size: 15px; margin-bottom: 15px;

			span { font-family: 'proxima_novasemibold'; }

			img { margin-right: 10px; position: relative; top: 2px; }
		}
	}

	.footer-tilray-links {

		 width: 33%;

		@media screen and (max-width: 950px) { width: 28%; }

		@media screen and (max-width: 830px) { width: 26%; }

		@media screen and (max-width: 767px) { margin-top: 26px; }

		li { margin-bottom: 14px; }
	}

	.footer-social-login {

		width: 280px; float: right;

		.social-blk { 

			li {

				display: inline-block; margin-right: 25px; 

				img { width: 18px; } 

				&:nth-of-type(1) { img { width: 8px; } }

				&:nth-of-type(3) { img { width: 16px; } }

				@media screen and (max-width: 767px) {

					margin-right: 35px; 

					img { width: 24px; } 

					&:nth-of-type(1) { img { width: 10px; } }

					&:nth-of-type(3) { margin-right: 0; img { width: 20px; } }

				}
			}

		}
	}

}

.footer-copy-rights {

	background: #343333;

	small.copyright { 

		background: #343333; padding: 0 ; max-width: 1200px; margin: auto;

		span { float: right; margin-top: 8px; 

			@media screen and (max-width: 1280px) { padding-right: 20px; }
		}

		.container.footer-bottom {

			float: left;

			ul.footer-blk {
			    
			    margin: 0; padding: 0;

			    li { 

			    	display: inline-block; border-right: solid 1px #404040; border-left: solid 1px #404040; margin: 0;

			    	&:nth-of-type(1) { border-right: 0; }

			    	a { 

				    	font-size: 13px; font-family: 'proxima_nova_rgregular'; color: #fff; letter-spacing: 0.4px; padding: 6px 12px; 

				    	@media screen and (min-width: 768px) { display: block; }

				    	img {  margin-right: 8px; position: relative; top: 3px; }

			    	}
			    }
			}
		}

	}

	@media screen and (max-width: 767px) {

		display: block; width: 100%; 

			small.copyright { 

				position: relative; padding-bottom: 43px; padding-top: 8px;

				span { float: none; position: absolute; left: 0; right: 0; bottom: 22px;  } 

				.container.footer-bottom { 

					float: none;

					ul.footer-blk li { 

						display: block; padding: 6px 0;

						&:nth-of-type(1) { margin-bottom: 2px; }

					} 

				}

			}
	}
}

div.video-wrapper {

    background: #040404 none repeat scroll 0 0;
    height: 100%; left: 0; position: fixed; top: 0; width: 100%;
    z-index: 999; display: none;

    .video-container { margin: auto; width: 100%; height: 100%; position: relative; }

	.close-video { position: absolute; right: 30px; top: 50px; cursor: pointer; z-index: 999; }
}

/* === Banner section st === */

/* == mixin st == */

.o-before { content:""; display: inline-block; height: 15px; width: 8px; margin-right: 5px; background-size: cover; }

/* == mixin en == */

.tilray-banner {

	.owl-nav  {

		position: absolute; top: 45%; width: 100%; 

		.owl-prev { 

			float: left; margin-left: 30px; width: 10px; height: 18px; overflow: hidden; background: transparent;

			&:before { background-image: url("../images/slider-arrow-lt.svg"); .o-before; } 

		}

		.owl-next { 

			float: right; margin-right: 30px; width: 10px; height: 18px; overflow: hidden; background: transparent;

			&:before { background-image: url("../images/slider-arrow-rt.svg"); .o-before; }

		}
	}

	.owl-dots {

		position: absolute; bottom: 15px; width: 100%; text-align: center;

		@media screen and (max-width: 767px) { bottom: -30px; }

		.owl-dot {

			background: #818486; width: 8px; height: 8px; margin: auto; border-radius: 100%;
			display: inline-block; margin-right: 12px;

			&.active { background: #404040; }
		}
	}

	img.mb-ban { display: none!important; }

	@media screen and (max-width: 767px) {

		img.dsk-ban { display: none!important; }

		img.mb-ban { display: block!important; }

	}

	&.owl-theme .owl-dots .owl-dot.active span, &.owl-theme .owl-dots .owl-dot:hover span,
	&.owl-theme .owl-dots .owl-dot span, &.owl-theme .owl-nav [class*='owl-']:hover { 

		background: transparent!important; 
	}
}

/* === Banner section en === */


/* === Blog styles === */

/*.post-list-wrapper {*/
	
	.post-content {

		.post-description {

			.post-ftimg-hld {

				float: none; width: 53%; margin-bottom: 30px; margin-left: 0;
			}

		}

		.post-read-more { float: none; }
	}
/*}*/


.cms-home {

	.page-header { 

		border-bottom: 0;  padding-bottom: 0; margin-bottom: 0;

		@media screen and (max-width: 767px) {

			margin-bottom: 26px;

		}
	}

}

.page-header { 

	border-bottom: 1px solid #dedede; padding-bottom: 5px; margin-bottom: 32px;

	@media screen and (max-width: 767px) {

		margin-bottom: 22px; border-bottom: 0;

	}
}

.breadcrumbs { 

	margin-bottom: 35px; 

	li a { font-family: 'proxima_novasemibold'; font-size: 14px; }

	li strong { font-family: 'proxima_nova_rgregular'; font-size: 14px; }

	.item:not(:last-child):after { margin: 2px; }

	@media screen and (max-width: 767px) { 

		display: block; padding: 0; margin-bottom: 20px; 

		.items { padding: 0 10px; }

		li a { font-family: 'proxima_novasemibold'; font-size: 16px; }

		li strong { font-family: 'proxima_nova_rgregular'; font-size: 16px; }

	}

}

/* === sidebar filter === */

.page-with-filter.page-products {

	/* tab design */

	@media screen and (min-width: 768px) and (max-width: 900px) {

		.sidebar-main { 

			width: 40%; 

			.swatch-attribute-options { width: 280px; }

		}
		
		.column.main { width: 60%; }
	}

	@media screen and (min-width: 901px) and (max-width: 1100px) {

		.sidebar-main { 

			width: 36%; 

			.swatch-attribute-options { width: 280px; }

		}
		
		.column.main { width: 64%; }
	}

	@media screen and (min-width: 1101px) and (max-width: 1280px) {

		.sidebar-main { 

			width: 30%; 

			.swatch-attribute-options { width: 280px; }

		}
		
		.column.main { width: 70%; }
	}

	#page-title-heading {


	}
}


.page-layout-2columns-left { 

	#maincontent.page-main { padding: 0; }

	.columns {

		@media screen and (min-width: 767px) and (max-width: 1200px) { padding: 0 12px; }
	}

	.column.main { 

		@media screen and (min-width: 1280px) { width: 825px; }

	}

	.navigation .level0.has-active>.level-top { border: none; }



	.page-title, .page-title a { font-family: 'proxima_novasemibold'; font-size: 20px; text-transform: uppercase; color: #979797; text-decoration: none; }

	.page-title#page-title-heading { 

		color: #404040; padding-bottom: 8px; border-bottom: 4px solid #084875; letter-spacing: 0.5px;

		@media screen and (min-width: 768px) and (max-width: 1220px) { margin: 0 12px 22px 12px;}

		@media screen and (max-width: 767px) { 

			border-bottom: 0; background: #084875; color: #fff; margin-bottom: 0; font-size: 18px; padding: 24px 0px;

		}
	}

	.page-title {

		&:nth-of-type(1) { margin-right: 47px; }

		@media screen and (max-width: 767px) {

			padding: 22px 0px; font-family: 'proxima_nova_rgregular'; border-top: 1px solid #404040; border-bottom: 1px solid #404040;

			display: inline-block; text-align: center; width: 49.5%; margin-bottom: 0;

			&:nth-of-type(1) { margin-right: 0px; }

			&:nth-of-type(2) { margin-left: -4px; width: 50.4%; }

			a { font-size: 18px; }

		}
	}

	.products.products-grid {

		@media screen and (max-width: 767px) { padding: 0 15px; }
	}

}

.page-layout-2columns-left .sidebar-main { 

	@media screen and (min-width: 1280px) { width: 345px; padding-right: 0; }  

	.filter-current a.remove:before { font-size: 8px; color: #404040; font-weight: bold; }
}

.sidebar-main {

	.block-content.filter-content { 

		border-right: 1px solid #dedede; border-left: 1px solid #dedede;

		.filter-subtitle { display: none; }

		.item { margin: 10px 0 20px; }

		.swatch-attribute-options .item {
			        width: 70px;
				    display: inline-block;
				    margin-bottom: 10px !important;
				    position: relative;
				    margin-right: 1vw !important;

				    @media screen and (min-width: 768px) and (max-width: 1279px) { width: 60px; }

			    &:before {

					    content: "";
					    display: inline-block;
					    float: left;
					    position: absolute;
					    left: -65px;
					    top: 6px;
					    text-transform: uppercase;
					    font-size: 13px;
					    font-family: 'proxima_nova_rgregular';
			    }
			    &:after {

					        content: "";
						    float: left;
						    position: absolute;
						    top: -32px;
						    text-transform: uppercase;
						    left: 0;
						    right: 0;
						    margin: 0 auto;
						    text-align: center;
			    }
			    &:first-child:before {

					    content: "LOW";
			    }
			    &:nth-child(4):before {

					    content: "Medium";
			    }
			    &:nth-child(7):before {

					    content: "high";
			    }
			    &:first-child:after {

					    content: "thc";
			    }
			    &:nth-child(2):after {

					    content: "cbd";
			    }
			    &:nth-child(3):after {

					    content: "thc/cbd";
			    }
		}
		.filter-current ol.items { padding-left: 18px; }

		.block-actions.filter-actions+strong.block-subtitle {

			@media screen and (min-width: 768px) { display: none; }
		}

		@media (max-width:767px) {
			
			.swatch-attribute-options {
				  
			    margin: 0 auto !important; max-width: 330px;
			    
			    width: 100%; box-sizing: border-box;

				.item { margin-right: 17px !important; }
			}
			
		}
	}

	.filter-options .filter-options-content { 

		padding-left: 18px;

		a {

			color: #818486;

			&:hover { 

				background-color: transparent;
			}

			input[type=checkbox]:checked+span { font-family: 'proxima_novasemibold'; letter-spacing: 0.5px; color: #404040;}

		}

	}

	a.filter-clear, a.filter-clear:visited { color: #818486; text-decoration: underline; font-family: 'proxima_novalight'; }

	.filter-options-title, .filter .filter-current-subtitle { 

		background: #084875; color: #fff; font-family: 'proxima_nova_rgregular'; font-size: 16px; text-transform: uppercase;

		padding: 12px 40px 10px 10px; letter-spacing: 0.5px;

		&:hover { color: #fff; }

		@media screen and (max-width: 767px) {

			background: #fff; color: #084875;

			&:hover { color: #084875; }

			&:after { right: initial; top: 15px; font-size: 10px; margin-left: 15px; font-weight: bold; }
		} 
	}

	.filter-options-title {

		&:after { 

			@media screen and (min-width: 768px) { visibility: hidden; }

			@media screen and (max-width: 767px) { color: #084875; }
		}

	}

	input[type=checkbox], input[type=radio] { visibility: hidden; margin: 2px 10px 0 0; box-shadow: none; display: none; }

	input[type=checkbox]:checked+span.label::after,
	.am_shopby_link_selected input+span.label::after,
	input[type=radio]:checked+span.label::after,
	.am_shopby_link_selected input+span.label::after { 

		background-image: url("../images/filter-checked.svg")!important; width: 18px; height: 18px;

		background-size: 18px 18px; background-color: #fff; content:""; display: inline-block; 

		position: relative; top: 5px; right: -10px;

	}

	.filter-options-content .item span.count { display: none; }
}

.filter.block {

	@media screen and (max-width: 767px) { 

    	position: fixed; bottom: 61px; width: 100%; z-index: 99;

    	.filter-title strong { 

    		width: 100%; background: #084875; color: #fff; border: none; padding: 20px 0; cursor: pointer;

    		border-radius: 0; box-shadow: none; font-size: 16px; letter-spacing: 0.5px; font-family: 'proxima_nova_rgregular';

    		&:before { 

    			background-image: url("../images/filter-mb.svg"); width: 18px; height: 18px; 

    			background-size: 18px 18px; content:""; display: inline-block; position: relative; right: 10px; top: 4px;

    		}

    	}

    	.filter-subtitle { height: initial; }

	} 

	.filter-options-item { 

		padding-bottom: 10px; 

		&:last-child { padding-bottom: 0; }

	}
}

.page-with-filter {

	.footer-copy-rights { 

		@media screen and (max-width: 767px) { padding-bottom: 55px; }

	}
}

.filter.block.active {

	.filter-title strong {

		top: 0; right: 0; color: #4C4C4C; background: #fff; height: initial;

		&:before { content: ""; background-image:  none; }

		&:after { float: right; margin-right: 15px; color: #404040; }
	}

	.filter-options { top: 63px; }

	#am_shopby_container {

		@media screen and (max-width: 767px) { 

			&.filter-current { margin: 0; border-top: 0; }

			div.block-actions.filter-actions { margin: 0; display: none;}

			div.block-actions.filter-actions+div.block-actions.filter-actions { display: none; }

			&.filter-current.active {

				div.block-actions.filter-actions { margin: 0; display: block;}

			}
		}

	}

}


/* === product listing guest === */

.t100 { background: linear-gradient(120deg,#ffc42f 50%,#ffd049 50%); }

.t200 { background: linear-gradient(120deg,#f68c28 50%,#f89a4d 50%); }

.t300 { background: linear-gradient(120deg,#ee4023 50%,#f05d43 50%); }

.c200 { background: linear-gradient(120deg,#48c6ec 50%,#6bccf4 50%); }

.tc100 { background: linear-gradient(120deg,#94d1b6 50%,#a8d8b6 50%); }

.tc200 { background: linear-gradient(120deg,#5bae6d 50%,#52ba70 50%); }

div.products-grid {

	ol.products.list {

		@media screen and (min-width: 1024px) { margin-left: -20px; }

		li.product-item {

			@media screen and (min-width: 1280px) { width: 22%; margin-left: calc((100% - 4 * 22%) / 4); }

			@media screen and (max-width: 450px) { 

				width: 100%;

				.product-item-info, a.product-item-photo { width: 100%; }

				a.product-item-photo { text-align: center; }

			}

			div.product-item-info {

				border: 1px solid #dedede;

				&:hover { 

					box-shadow: none; margin:0; padding: 0; position: initial; border: 1px solid #dedede;;

					.product-item-inner { display: none; }

				}

				.product-image-container {

					.product-image-wrapper {

						padding: 32px!important;
					}
				}

				div.product-item-details {

					padding: 0 12px;

					.product-item-name { font-family: 'proxima_novasemibold'; font-size: 16px; }

				}

			}

		}
	}

	&.guest-login {

		ol.products.list {

			li.product-item {

				@media screen and (max-width: 639px) { margin-bottom: 20px; }

				@media screen and (max-width: 450px) {

					width: 100%; margin:  0 auto 20px auto; display: block;
				}

			}

			div.product-item-info {

				border: 0!important;

				div.price-box { display: none; }

				div.chem-type {

					text-align: center; min-height: 60px;

					a { color: #fff; font-size: 38px; line-height: initial; padding: 8px 0; display: block; text-decoration: none; }

				}

				div.product-item-name {

					border: 1px solid #dedede; border-top: 0; padding: 8px 15px; margin: 0;

					a { 

						font-size: 16px; color: #404040; font-family: 'proxima_novasemibold'; letter-spacing: 0.5px;

						text-decoration: none; text-transform: uppercase;
					}
				}

			}
		}

	}

	&.registered-login {

		ol.products.list {

			div.product-item-info {

				a { border-bottom: 1px solid #dedede; }

				.product-item-details a { border: 0; }

				.product-item-description { 

					margin: 0 0 10px 0; font-family: 'proxima_novalight'; 

					p { font-size: 14px; }
				}

				.product-item-description+.desc-profile { margin-bottom: 5px; }

				.desc-profile {

					span { font-family: 'proxima_novasemibold'; font-size: 14px; color: #4c4c4c; }
				}

				.price-box {

					margin: 10px 0 10px;

					.price { color: #1A4869;  }
				}

			}
		}

	}
}



/* swatch filter */
	
.swatch-attribute-options {

    padding-left: 57px !important;

    padding-top: 40px !important;
    
    margin-right: -57px !important;

    .swatch-option {

	    min-width: initial; max-width: initial;

	    width: 70px; height: 30px;

	    background-size: cover !important;

	    margin: 0; border: 0; padding: 0;

	    &:hover {
			outline: 0 !important;
		}

		&.selected {
	
			outline: 0;

			&:after {
				 
				content: ""; background: url(../images/Selected-icon.svg);

			    line-height: 36px; padding-right: 0px; float: right;

			    margin-top: 7px; margin-right: 2px; background-size: cover!important;

			    height: 13px; width: 13px;
			    
			}
		}

		&.image:not(.disabled):hover, &.color:not(.disabled):hover { border: 0; }
	}

	@media screen and (min-width: 768px) and (max-width: 1280px) {

		padding-left: 50px !important;
	}
}


.product.media {

	@media screen and (min-width: 1280px) { max-width: 415px; width: 100%; }

}

/* == Guest Product view detail == */

.page-layout-1column {

	@media screen and (min-width: 768px) {

		.product.media { width: 38%; }

		.product-info-main { width: 60%; }
	}

	@media screen and (max-width: 767px) {

		.product.media { margin-bottom: 20px; } 

	}

	
}

.catalog-product-view {

	.upsell { clear: both; }

	.rguest-product {

		.chem-detail {

			text-align: center; font-size: 78px; color: #fff; vertical-align: middle; margin: auto; padding-top: 16px; padding-bottom: 10px;

			@media screen and (max-width: 767px) {

				font-size: 75px; padding-top: 3px; padding-bottom: 0px;
			}
		}

		.prod-details {

			border: 1px solid #dedede; border-top: 0; padding: 20px 18px;

			.prod-name { font-size: 26px; font-family: 'proxima_novasemibold'; color: #404040; }

			.prod-subname { font-size: 26px; color: #404040; }

			@media screen and (max-width: 767px) {

				padding: 9px 18px;

				.prod-name, .prod-subname { font-size: 18px; }

			}

		}
		
	}
}

div.product-info-main {

	h1.page-title {

		font-size: 45px; font-family: 'proxima_nova_rgbold'; margin-bottom: 7px; 

		@media screen and (max-width: 767px ) { font-size: 20px; }
	}

	h4 { color: #404040; font-size: 15px; font-family: 'proxima_novasemibold'; margin-top: 0; margin-bottom: 15px; }

	h4+p, h4+p+p {

		font-size: 15px;

		span:first-child { color: #404040; margin-right: 5px; font-family: 'proxima_novasemibold'; }
	}

	div.varities {

		p {

			font-size: 18px; font-family: 'proxima_novasemibold'; color: #404040;

			span { border: 1px solid #dedede; margin-left: 20px; padding: 5px 12px; font-size: 13px; color: #084875; letter-spacing: 0.25}

			
		}

		@media screen and (max-width: 767px) { 

			p {
				
				strong { display: block; margin-bottom: 12px; font-size: 16px; } 

				span {

					font-size: 15px;

					&:nth-of-type(1) { margin-left: 0; }
				}
			}
		}

		@media screen and (max-width: 400px) {

			p {
				span {

					margin-left: 2%;
				}
			}
		}
	}

	.product-info-price { display: none; }

	.box-tocart { 

		a { text-decoration: none; }

		input[type="button"] {

			background: #084875; color: #fff; width: 300px; height: 60px; border: 0; font-size: 18px; font-family: 'proxima_nova_rgregular';

			@media screen and (max-width: 500px) { width: 100%; }

		}

	} // box-tocart

	.s-desc { font-size: 16px; color: #818486; }

	.product.attribute.overview {

		margin: 15px 0 16px; border-top: 1px solid #dedede; padding-top: 15px; font-size: 16px;

		.value p { font-size: 16px; color: #818486; }

		@media screen and (max-width: 767px) { 

			border-top: 1px solid #404040; margin: 10px 0 6px; padding-top: 13px;

		}
	}

	.attributes { 

		width: 100%; clear: both;

		h2 { float: left; font-size: 18px; font-family: 'proxima_novasemibold'; color: #404040; margin-top: 0; }

		.powered-by { 

			float: right; 

			p { font-size: 15px; color: #404040; margin-right: 5px; float: left; }

			img { width: 80px; }

		}

		@media screen and (max-width: 767px) {

			h2, .powered-by { float: none; }
		}
	}

} // product-info-main

/* == additional-attributes-wrapper == */

.additional-attributes-wrapper {

	clear: both; margin-top: 20px; margin-bottom: 30px;

	table {

		tbody {

			tr {

				display: block; margin-bottom: 15px; font-size: 16px; letter-spacing: 0.28px;

				th { 

					padding-right: 0; padding-left: 0; font-family: 'proxima_novasemibold';

					&:after { content: ":"; } 

				}

				td { color: #818486; padding-left: 2px; }
			}

			th, td { display: initial; border: none; }
		}

	}

	@media screen and (max-width: 767px) { 

		border-top: 0;

		table tbody tr { margin-bottom: 3px; }
	} 

	
}

/* == mixin == */

.copy-before { content: ""; background-size: cover; height: 15px; width: 18px; margin-right: 10px; }

.product-social-links {

	.action {

		margin-right: 6%;

		&.tocompare:before { background: url(../images/compare.svg); .copy-before; margin-top: -9px;}

		&.mailto.friend:before { background: url(../images/email-fr.svg); .copy-before; height: 13px; margin-top: -7px }

		&.tocompare, &.mailto.friend { text-transform: initial; font-family: 'proxima_nova_rgregular'; color: #818486; font-size: 14px; }
	}

}

/* ==== after customer logged in === */

body.customer-logged-in {

	&.page-layout-1column {

		@media screen and (max-width: 767px) {

			.product.media { margin-bottom: 0px; } 

		}
	}

	.product-info-main {

		.product-info-price {

			display: inline-block; width: initial; border-bottom: 0; margin-right: 15px;

			.product-info-stock-sku { display: none; }			

			@media screen and (max-width: 767px) {

				margin-bottom: 0; margin-top: 15px; margin-right: 0;
			}

		} // product-info-price

		.price-box { 

			padding-bottom: 5px;

			.price-container { 

				span { margin-bottom: 0; }

				.price { font-size: 15px; color: #084875; } 

			}
		}

		.product-add-form {

			display: inline-block; padding-top: 0;
		
			.box-tocart {

				/*logged in */

				@media screen and (max-width: 767px) {

					margin: 0;
				}

				.field.qty {

					float: left; margin-right: 20px;

					label {

						float: left; margin-right: 20px; text-transform: uppercase; margin-bottom: 0; position: relative; top: 10px;

						&:after { content: ":"; margin-left: 2px;}				
					}

					.control { 

						float: right;

						input { height: 38px; width: 40px; border: 1px solid #dedede; } 

					}

				} // field qty

				.actions { float: right; }

				.action.tocart { 

					background: #084875; color: #fff; width: 180px; height: 40px; border: 0; font-size: 18px; font-family: 'proxima_nova_rgregular';

					padding: 10px; border-radius: 0; 

					span:before { 

						background-image: url("../images/cart-icon.svg"); height: 18px;
						
						content:""!important;  width: 18px; margin-right: 10px!important;
						
						top: 2px; .icon-before;

					}
				}

			}  // box-tocart

			input.input-text.qty { height: 38px; width: 40px; border: 1px solid #dedede; } 

			.plus-value, .minus-value {

				border: 1px solid #dedede; height: 36px; width: 20px; cursor: pointer;

				img { margin: 14px auto 0; display: block; }
			}

			.plus-value { float: left; margin-right: -1px; }

			.minus-value { 

				float: right; position: relative; left: -1px;

				img { margin-top: 18px; }

			}

		} // product-add-form

		.attributes { 

			padding-top: 25px; border-top: 1px solid #dedede;

			@media screen and (max-width: 767px) { border-top: 1px solid #404040; }

		}

		.varities { 

			display: table; width: 100%; border-bottom: 1px solid #dedede; padding-bottom: 20px;

			@media screen and (max-width: 767px) { border-bottom: 1px solid #404040; }
		}

		.product.attribute.overview {

			@media screen and (max-width: 767px) { margin: 10px 0 14px; }
			
		}

	} // product-info-main

	.outof-stock-products-block {

		@media screen and (min-width: 768px) { input[type="submit"] { height: 43px; } }

	}

	.product.media {

		.gallery-placeholder {

			margin-bottom: 20px;

			.fotorama__thumb-border  { display: none; }

			.fotorama__nav__frame { 

				@media screen and (min-width: 768px) {

					&.fotorama__active { border: 1px solid #084875; }

					border: 1px solid #dedede; height: 108px; margin-right: 18px;
				}
			}

			.fotorama__stage { 

				border: 1px solid #dedede; width: 99%!important; margin-bottom: 25px;

				@media screen and (max-width: 767px) {

					margin-bottom: 8px; border: 1px solid #404040;
				}

			} 

			.fotorama__dot { width: 8px; height: 8px; }

			.fotorama__active .fotorama__dot { background-color: #084875; border-color: #084875; }
		}

	} // product media

	&.page-product-grouped {

		.varities+.product-info-price { display: none; }

		.varities { border: 0; }

		.attributes { margin-top: -6px; }

		.product-add-form { width: 100%; }

		.minus-value { left: -2px!important; }

		.table-wrapper.grouped {

			margin-bottom: 0; border-top: 1px solid #dedede;

			@media screen and (max-width: 767px) { border-top: 0; padding: 0 15px; }

			/*table { width: initial; }*/

			tbody { 

				border-color: #dedede;

				@media screen and (max-width: 639px) { border-color: #404040; }

				&:nth-of-type(2) { border-bottom: 0; }
			}

			tbody tr { 

				position: relative;

				td { 

					padding-top: 22px; padding-bottom: 21px; width: initial; border: 0;

					&:nth-of-type(1) {

						@media screen and (max-width: 639px) {

							padding-left: 0;
						}
					}

					&:nth-of-type(2) {

						@media screen and (max-width: 639px) {

							padding-bottom: 22px; padding-left: 0;
						}
					}

					&:nth-of-type(3) {

						@media screen and (max-width: 639px) {

							position: absolute; top: 50px; left: 145px;
						}
					}
				}

			}

			.control.qty { 

				width: 145px; 

				label {

					display: inline-block; margin-right: 10px; text-transform: uppercase; margin-bottom: 0;		
				}

			}

			.qty-sep { display: inline-block; width: 98px; }

			.price-box { padding-bottom: 0; }

			.price-box.price-final_price.price-nm { 
				
				float: left; margin-right: 5px;

				strong { font-size: 15px; font-family: 'proxima_novasemibold'; }
			}

			.grouped-product-item { margin-top: 5px; }

			.price-nm + .price-box.price-final_price {
			    
			    margin-top: 5px; display: inline-block;
			}

		}

		.product-add-form {

			.box-tocart { display: none; }

			.table-wrapper.grouped { 

				.box-tocart { 

					display: block; margin: 0;

					.actions { float: none; }
				} 
			}
			
		}

	} // page-product-grouped

} // customer-logged-in


.product.media {

	div.img-text.prd-txt { 

		max-width: 360px;  border: 0; margin-bottom: 0; margin-left: 30px; padding: 0;

		&:before { top: 2px; left: -30px; }
	}
}



div.img-text { 

	font-size: 13px; display: block; position: relative; color: #818486; letter-spacing: 0.25px; line-height: 21px;

	border: 1px solid #dedede; padding: 20px 20px 20px 50px; max-width: 100%; margin-left: 0; margin-bottom: 50px;

	&:before { 

		background-image: url("../images/info.svg"); height: 18px;
		
		content:""; display: inline-block; width: 18px; margin-right: 10px!important;
		
		background-size: cover; position: absolute; top: 22px; left: 17px;

	}

	/*@media screen and (max-width: 767px) { margin-top: 22px; }*/

	@media screen and (max-width: 767px) { 

		border: 0; margin-bottom: 0; padding-left: 30px; margin-top: 22px;

		&:before { left: 3px; }

	}
}


div.block.upsell {

	position: relative; top: 40px; margin-bottom: 50px !important;

	@media screen and (max-width: 767px) {

		top: 20px; margin-bottom: 20px !important;
	}

	.block-title {

		text-align: center;

		strong { margin-bottom: 10px; text-align: center; font-size: 20px; font-family: 'proxima_novasemibold'; }

	}

	.product-item-info { width: 100%; }

	.product-item-photo {

		width: 100%; display: block; border-bottom: 1px solid #dedede;

		.photo.image { display: block; margin: auto; }
	}

	div.product-item-name {

		margin-top: 10px; 

		a { font-size: 16px; color: #4C4C4C; font-family: 'proxima_novasemibold'; margin-top: 5px; }

	}

	div.price-final_price .price { color: #084875; font-family: 'proxima_novasemibold'; }

	div.product-item-details {

		.t-prof {

			p {

				margin-bottom: 0;

				span {

					font-size: 14px; font-family: 'proxima_nova_rgregular';

					&:nth-of-type(1) { color: #4c4c4c; margin-right: 5px; }

					&:nth-of-type(2) { color: #818486; }
				}
			}
		}
	}

	.price-box { margin: 10px 0 10px; }

	div.chem-type {

		text-align: center; min-height: 90px; 

		a { color: #fff; font-size: 52px; line-height: initial; padding: 15px 0; display: block; text-decoration: none; border-bottom: 0; }

	}
}

.block.upsell, .catalog-category-view .product-item-info {

	.minimal-price {

		.price-label { 

			float: left; color: #084875; font-family: 'proxima_novasemibold'; font-size: 16px; margin-right: 5px;
		}

		.price-container { color: #084875; font-family: 'proxima_novasemibold'; font-size: 16px; }
	}

}

/* == CMS Pages == */

.cms-about-us {

	h2, h3 { color: #084875; font-family: 'proxima_novasemibold'; margin-top: 0; margin-bottom: 20px; }

	h2 { font-size: 20px; }

	h3 { font-size: 16px; }

	p { letter-spacing: 0.5px; }

	.icon-bullet-line {

		span.icon-bullet-content {

			&:before {

				background-image: url(../images/icon_ban.svg);

			    height: 15px; width: 15px; margin-right: 8px;

			    top: 3px; .icon-before;

			}
		}
	}
}

.loc-contact {

	h2 { color: #084875; margin-top: 0; margin-bottom: 10px; }

	p+h2 { margin-top: 20px; }

	p { letter-spacing: 0.5px; }
}

/* == cross-sell-products == */

.m-cross {

	.cross-acc {
	    
	    border: 1px solid #dedede; text-align: center; margin-bottom: 20px; cursor: pointer;

	    h2 { 

	    	font-size: 14px; font-family: 'proxima_novasemibold'; text-transform: uppercase; 

	    	&:after {

			    background-image: url(../images/slider-arrow-lt.svg);

			    height: 13px; width: 6px; margin-right: 5px;

			    transform: rotate(-90deg); left: 10px; top: 2px; .icon-before;
			}
	    }
	}

	.cross-sell-products {

		display: none; margin-bottom: 20px;

		.product-item {

			display: inline-block; border: 1px solid #dedede; padding-left: 0; margin-right: 25px;

			>div.product-item-photo {

				border-bottom: 1px solid #dedede;
			}

			div.product-item-name, div.product-item-price { padding: 0 15px; }

			div.product-item-name { font-size: 16px; color: #4C4C4C; font-family: 'proxima_novasemibold'; }

			div.product-item-price { color: #084875; font-family: 'proxima_novasemibold'; }

			.product-item-photo.chem-type.t200 {

				padding: 10px; text-align: center; min-width: 200px;

				a { color: #fff; font-size: 20px; letter-spacing: 0.5px }
			}

			div.sb-name { font-size: 16px; color: #4C4C4C; font-family: 'proxima_nova_rgregular'; padding: 0 15px; }
		}
	}

}

.outof-stock-products-block {

	text-align: center; margin-bottom: 58px;

	h2 { font-family: 'proxima_novasemibold'; font-size: 20px; color: #404040; margin-top: 23px; margin-bottom: 36px;  }

	h3 { font-family: 'proxima_nova_rgregular'; font-size: 18px; color: #818486; margin-bottom: 42px; }

	input[type="mail"] { height: 36px; width: 220px; padding-left: 15px; font-size: 14px; font-family: 'proxima_nova_rgregular'; }

	input[type="submit"] { 

		height: 41px; width: 100px; margin-left: -6px; background: #084875; color: #fff; font-size: 14px;

		font-family: 'proxima_nova_rgregular'; border: 0; 
	}

	@media screen and ( max-width: 767px) {

		order: -2;

		input[type="mail"] { height: 46px; border: 1px solid #404040; }

		input[type="submit"] { height: 49px; }

		h3 { font-family: 'proxima_novalight'; font-size: 18px; color: #818486; margin-bottom: 42px; }
	}

	@media screen and ( max-width: 450px) {

		margin-bottom: 20px;

		h2 { max-width: 320px; margin-left: auto; margin-right: auto; line-height: 24px; margin-bottom: 0px; margin-top: 0px; }

		h3 { max-width: 280px; margin-left: auto; margin-right: auto; line-height: 24px; margin-top: 16px; margin-bottom: 22px; }
	}
	
}


/* == account admin == */

.account.page-layout-2columns-left .column.main {
    width: 75%;
}

.account.page-layout-2columns-left .sidebar-main, .account.page-layout-2columns-left .sidebar-additional {
    width: 22.3%;
    margin-right: 30px;
}













