@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proxima-fonts/proximanova-bold-webfont.woff2') format('woff2'), url('../fonts/proxima-fonts/proximanova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proxima-fonts/proximanova-semibold-webfont.woff2') format('woff2'), url('../fonts/proxima-fonts/proximanova-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proxima-fonts/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proxima-fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url('../fonts/proxima-fonts/proximanova-light-webfont.woff2') format('woff2'), url('../fonts/proxima-fonts/proximanova-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'proxima_nova_rgregular';
}
h4 {
  color: #084875;
  font-family: 'proxima_nova_rgbold';
}
p {
  color: #818486;
  font-size: 18px;
  font-family: 'proxima_novalight';
}
/* mixin */
.nav-pointer {
  /* arrow pointers */
  content: " ";
  color: #fff;
  border-left: 1px solid #dedede;
  border-top: 1px solid #dedede;
  position: absolute;
  background: #fff;
  transform: rotate(45deg);
  line-height: 0.6;
  width: 8px;
  height: 8px;
}
@media screen and (max-width: 767px) {
  .nav-pointer {
    display: none;
  }
}
.icon-before {
  background-size: cover;
  content: "";
  display: inline-block;
  position: relative;
}
/* mixin end */
header.page-header .panel.wrapper {
  background-color: #084875;
  padding: 0;
}
@media screen and (max-width: 767px) {
  header.page-header .panel.wrapper {
    display: none;
  }
}
header.page-header .panel.wrapper .panel.header {
  max-width: 1200px;
  padding: 0;
}
header.page-header .panel.wrapper div.top-head-links {
  display: inline-block;
}
header.page-header .panel.wrapper div.top-head-links ul {
  margin: 0;
  padding: 0;
}
header.page-header .panel.wrapper div.top-head-links ul li {
  list-style-type: none;
  border-right: solid 1px #265e85;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
}
header.page-header .panel.wrapper div.top-head-links ul li:nth-of-type(1) {
  border-left: solid 1px #265e85;
  padding: 0;
}
header.page-header .panel.wrapper div.top-head-links ul li:nth-of-type(1) img {
  position: relative;
  top: 2px;
  margin-right: 9px;
}
header.page-header .panel.wrapper div.top-head-links ul li:nth-of-type(1) a {
  padding: 6px 14px 3px 13px;
}
header.page-header .panel.wrapper div.top-head-links ul li a {
  color: #fff;
  font-family: 'proxima_nova_rgregular';
  font-size: 13px;
  letter-spacing: 0.4px;
  padding: 8px 0px 3px;
  min-width: 30px;
  display: block;
}
header.page-header .panel.wrapper ul.header.links {
  margin: 0 72px 0 0;
}
header.page-header .panel.wrapper ul.header.links .en-language {
  border-right: solid 1px #265e85;
  border-left: solid 1px #265e85;
  font-family: 'proxima_novasemibold';
  background-color: #04385d;
}
header.page-header .panel.wrapper ul.header.links .fr-language > a {
  color: #779ab3;
}
header.page-header .panel.wrapper ul.header.links div.minicart-wrapper + li + li {
  font-family: 'proxima_novasemibold';
}
header.page-header .panel.wrapper ul.header.links div.minicart-wrapper + li + li + li {
  padding: 4px 10px 4px 8px;
}
header.page-header .panel.wrapper ul.header.links div.minicart-wrapper + li + li + li a:before {
  background-image: url("../images/user-icon.svg");
  height: 16px;
  width: 16px;
  margin-right: 7px;
  top: 3px;
  background-size: cover;
  content: "";
  display: inline-block;
  position: relative;
}
header.page-header .panel.wrapper ul.header.links > li {
  border-right: 1px solid #265e85;
  margin: 0;
  font-family: 'proxima_nova_rgregular';
  font-size: 13px;
  letter-spacing: 0.4px;
}
header.page-header .panel.wrapper ul.header.links > li a {
  padding: 6px 10px 6px 8px;
}
header.page-header .panel.wrapper ul.header.links li.customer-welcome {
  height: 20px;
  margin-right: 30px!important;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 5px;
}
header.page-header .panel.wrapper ul.header.links .header-account {
  position: relative;
  cursor: pointer;
  padding: 2px 13px 5px 10px;
}
header.page-header .panel.wrapper ul.header.links .header-account img {
  position: relative;
  top: 4px;
  margin-right: 8px;
}
header.page-header .panel.wrapper ul.header.links .header-account ul {
  position: absolute;
  width: 320px;
  background: #fff;
  padding: 0;
  z-index: 999;
  border: 1px solid #DEDEDE;
  top: 39px;
  left: -220px;
  display: none;
}
@media screen and (max-width: 767px) {
  header.page-header .panel.wrapper ul.header.links .header-account ul {
    display: block;
  }
}
header.page-header .panel.wrapper ul.header.links .header-account ul:before {
  /* arrow pointers */
  content: " ";
  color: #fff;
  border-left: 1px solid #dedede;
  border-top: 1px solid #dedede;
  position: absolute;
  background: #fff;
  transform: rotate(45deg);
  line-height: 0.6;
  width: 8px;
  height: 8px;
  /*mixin*/
  right: 30px;
  top: -5px;
}
@media screen and (max-width: 767px) {
  header.page-header .panel.wrapper ul.header.links .header-account ul:before {
    display: none;
  }
}
header.page-header .panel.wrapper ul.header.links .header-account ul li {
  padding: 10px;
  list-style-type: none;
  text-align: center;
  margin-bottom: 0;
}
header.page-header .panel.wrapper ul.header.links .header-account ul li:nth-of-type(1) {
  border-bottom: 1px solid #DEDEDE;
}
header.page-header .panel.wrapper ul.header.links .header-account ul li a {
  font-family: 'proxima_nova_rgregular';
  color: #4C4C4C;
  font-size: 15px;
}
header.page-header .panel.wrapper ul.header.links .greet.welcome {
  padding: 0;
  margin: 0;
  display: none;
}
header.page-header div.header.content {
  max-width: 1200px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 26px;
}
@media screen and (max-width: 1240px) {
  header.page-header div.header.content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  header.page-header div.header.content {
    padding-top: 17px;
    padding-bottom: 20px;
    border-bottom: 1px solid #404040;
  }
  header.page-header div.header.content .nav-toggle {
    top: 12px;
  }
}
@media screen and (min-width: 1280px) {
  header.page-header div.header.content div.block.block-search {
    width: 278px;
    padding-left: 0;
    margin-top: -5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 914px) {
  header.page-header div.header.content div.block.block-search {
    width: 22%;
  }
}
@media screen and (max-width: 767px) {
  header.page-header div.header.content div.block.block-search {
    margin-top: 2px;
    display: inline-block;
    float: right;
    /*width: 100%;*/
  }
  header.page-header div.header.content div.block.block-search .control {
    border-top: 0;
    position: absolute;
    margin: 50px 0 0 0;
    left: 0;
    right: 0;
    padding: 0;
  }
  header.page-header div.header.content div.block.block-search .control input {
    width: 100%;
    margin: 0;
    padding: 26px 20px;
  }
  header.page-header div.header.content div.block.block-search .label::before {
    margin: 0;
  }
}
header.page-header div.header.content div.block.block-search input {
  border: 0;
  border-bottom: solid 1px #dedede;
  font-family: 'proxima_nova_rgregular';
  padding-left: 0;
  font-size: 13px;
}
header.page-header div.header.content div.block.block-search ._keyfocus *:focus,
header.page-header div.header.content div.block.block-search input:focus:not([disabled]) {
  box-shadow: none;
}
header.page-header div.header.content div.block.block-search .action.search {
  right: 0px;
}
header.page-header div.header.content div.block.block-search .action.search:before {
  color: #404040;
}
header.page-header div.header.content div.block.block-search .label::before {
  color: #404040;
  font-size: 20px;
}
header.page-header div.header.content .nav-toggle:before {
  color: #080808;
}
@media screen and (min-width: 767px) {
  header .logo {
    margin-top: 0;
  }
  header .logo img {
    width: 188px;
  }
}
@media screen and (max-width: 1050px) {
  header .logo img {
    width: 140px;
  }
}
@media screen and (max-width: 767px) {
  header .logo {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    float: none;
    max-width: 70%;
  }
  header .logo img {
    display: inline;
    width: 120px;
    margin-top: 5px;
  }
}
/* === Minicart === */
div.minicart-wrapper {
  height: 30px;
  border-right: solid 1px #265e85;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 0px;
  position: absolute;
  top: -31px;
  right: 0;
  z-index: 999;
}
div.minicart-wrapper .action.showcart {
  margin-top: 7px;
}
div.minicart-wrapper .action.showcart:before {
  background-image: url("../images/cart-icon.svg");
  height: 16px;
  content: "" !important;
  display: inline-block;
  width: 16px;
  margin-right: 5px!important;
  background-size: cover;
  margin-top: -1px;
}
@media screen and (max-width: 767px) {
  div.minicart-wrapper .action.showcart:before {
    background-image: url("../images/cart-icon-mb.svg");
    width: 22px;
    height: 21px;
  }
}
div.minicart-wrapper .action.showcart span.text {
  font-family: 'proxima_nova_rgregular';
  font-size: 13px;
  position: relative;
  color: #fff;
  display: inline-block;
  text-indent: -20px;
  overflow: hidden;
  width: 30px;
  height: initial;
  letter-spacing: 0.4px;
}
@media screen and (max-width: 767px) {
  div.minicart-wrapper .action.showcart span.text {
    display: none;
  }
}
div.minicart-wrapper .action.showcart .counter.qty {
  background: #EB9C47;
  height: 20px;
  width: initial;
  min-width: initial;
  border-radius: 100%;
  width: 15px;
  vertical-align: top;
  margin: 0;
  position: relative;
  top: -2px;
}
div.minicart-wrapper .action.showcart .counter.qty .counter-number {
  font-size: 12px;
  position: relative;
  top: -2px;
  right: 1px;
}
div.minicart-wrapper .action.showcart .counter.qty .empty {
  height: 18px;
  line-height: 18px;
  margin: 0 0 0 5px;
}
@media screen and (max-width: 767px) {
  div.minicart-wrapper {
    position: absolute;
    top: 15px;
    right: 55px;
    border-right: 0;
    margin-top: 0px;
  }
}
.header.content .block-minicart {
  width: 320px;
  padding: 20px 16px;
  right: 0;
  top: 35px;
}
@media screen and (max-width: 500px) {
  .header.content .block-minicart {
    position: fixed;
    width: 100%;
    top: 63px;
    border: 0;
    border-top: 1px solid #dedede;
    box-shadow: none;
    height: 100%;
  }
  .header.content .block-minicart:before {
    right: 75px;
  }
  .header.content .block-minicart:after {
    right: 74px;
  }
}
.header.content .block-minicart #btn-minicart-close {
  display: none;
}
.header.content .block-minicart #minicart-content-wrapper .subtitle {
  font-family: 'proxima_nova_rgregular';
  color: #4C4C4C;
  font-size: 15px;
  padding: 0px 0 10px;
}
.header.content .block-minicart #minicart-content-wrapper p.extra-message {
  background: #084875;
  text-align: center;
  width: 285px;
  height: 40px;
}
@media screen and (max-width: 500px) {
  .header.content .block-minicart #minicart-content-wrapper p.extra-message {
    width: 100%;
    height: 60px;
  }
}
.header.content .block-minicart #minicart-content-wrapper p.extra-message a {
  font-size: 14px;
  color: #fff;
  font-family: 'proxima_nova_rgregular';
  padding: 10px 0;
  display: block;
}
@media screen and (max-width: 500px) {
  .header.content .block-minicart #minicart-content-wrapper p.extra-message a {
    font-size: 15px;
    padding: 20px 0;
  }
}
.header.content .block-minicart #minicart-content-wrapper a,
.header.content .block-minicart #minicart-content-wrapper .price,
.header.content .block-minicart #minicart-content-wrapper label,
.header.content .block-minicart #minicart-content-wrapper span {
  color: #4C4C4C;
  font-family: 'proxima_novasemibold';
  font-size: 13px;
  letter-spacing: 0.5px;
}
.header.content .block-minicart #minicart-content-wrapper div.actions .primary {
  margin: 0 0px 15px;
}
.header.content .block-minicart #minicart-content-wrapper div.actions .primary button#top-cart-btn-checkout {
  background: #084875;
  font-family: 'proxima_novasemibold';
  border: 0;
  border-radius: 0;
}
.header.content .block-minicart #minicart-content-wrapper div.actions .primary button#top-cart-btn-checkout span {
  color: #fff;
  font-size: 14;
}
.header.content .block-minicart #minicart-content-wrapper div.actions .secondary a.viewcart {
  /*.minicart-style;*/
  text-decoration: underline;
}
.header.content .block-minicart #minicart-content-wrapper div.product-item-pricing .price {
  color: #818486;
}
.header.content .block-minicart #minicart-content-wrapper div.product-item-pricing + .div.product.actions {
  display: none;
}
.header.content .block-minicart #minicart-content-wrapper div.subtotal {
  text-align: center;
  clear: both;
}
.header.content .block-minicart #minicart-content-wrapper div.subtotal .amount.price-container {
  display: inline-block;
}
.header.content .block-minicart #minicart-content-wrapper .details-qty.qty label {
  width: initial;
}
.header.content .block-minicart #minicart-content-wrapper .details-qty.qty input {
  border: 0;
  width: 20px;
  padding: 0;
}
.header.content .block-minicart #minicart-content-wrapper .details-qty.qty .product.actions {
  display: none;
}
.header.content .block-minicart #minicart-content-wrapper .items-total {
  margin: 0 10px 20px;
  text-align: center;
  float: none;
}
.header.content .block-minicart #minicart-content-wrapper div.minicart-items-wrapper {
  height: initial!important;
  margin: 12px -17px 0;
  border-bottom: 0;
}
.header.content .block-minicart #minicart-content-wrapper div.minicart-items-wrapper a.product-item-photo {
  border: 1px solid #dedede;
}
.header.content .block-minicart #minicart-content-wrapper div.minicart-items-wrapper .product-item-details .details-qty {
  margin-top: -3px;
}
.header.content .block-minicart #minicart-content-wrapper div.minicart-items-wrapper .product-item-details .product.actions {
  display: none;
}
.header.content .block-minicart #minicart-content-wrapper div.subtotal {
  border-top: 1px solid #dedede;
  padding-top: 10px;
  margin: 0px;
}
/* == mixin st ==*/
.minicart-style {
  color: #4C4C4C;
  font-family: 'proxima_novasemibold';
  font-size: 13px;
  letter-spacing: 0.5px;
}
/* == mixin en ==*/
.cms-home #maincontent.page-main {
  /* for home page */
  width: 100%;
  max-width: 1440px;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .cms-home #maincontent.page-main {
    padding: 0;
  }
  .cms-home #maincontent.page-main .column.main {
    padding-bottom: 0;
    width: 100%;
    max-width: 100%;
  }
}
/* for inner page */
#maincontent.page-main,
.breadcrumbs {
  width: 100%;
  max-width: 1200px;
}
@media screen and (min-width: 1280px) {
  #maincontent.page-main,
  .breadcrumbs {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  #maincontent.page-main,
  .breadcrumbs {
    width: initial;
  }
}
@media screen and (max-width: 767px) {
  .en-language,
  .fr-language {
    display: none;
  }
}
/* ==== navigation ==== */
@media screen and (min-width: 768px) {
  .sections.nav-sections {
    margin-bottom: 0;
  }
}
.sections.nav-sections nav.navigation {
  /* desktop */
  background: #fff;
  width: initial;
}
.sections.nav-sections nav.navigation .level0 > .level-top {
  color: #818486;
}
.sections.nav-sections nav.navigation .level0.active > .level-top,
.sections.nav-sections nav.navigation .level0.has-active > .level-top {
  border: 0;
}
.sections.nav-sections nav.navigation ul {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .sections.nav-sections nav.navigation ul {
    top: -5px;
    padding: 0;
  }
}
.sections.nav-sections nav.navigation ul li.level0 {
  margin: 0 80px 0 0;
}
@media screen and (min-width: 1281px) {
  .sections.nav-sections nav.navigation ul li.level0.nav-1.first {
    margin-left: 70px;
  }
}
@media screen and (max-width: 1280px) {
  .sections.nav-sections nav.navigation ul li.level0 {
    margin: 0 3%;
  }
}
@media screen and (max-width: 972px) {
  .sections.nav-sections nav.navigation ul li.level0 {
    margin: 0 2.5%;
  }
}
@media screen and (max-width: 842px) {
  .sections.nav-sections nav.navigation ul li.level0 {
    margin: 0 2%;
  }
}
@media screen and (max-width: 767px) {
  .sections.nav-sections nav.navigation ul li.level0 {
    margin: 0;
  }
}
.sections.nav-sections nav.navigation ul li.level0 > a {
  color: #818486;
  font-size: 14px;
  font-family: 'proxima_nova_rgregular';
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 0.3px;
}
.sections.nav-sections nav.navigation ul li.level0 a {
  text-decoration: none;
}
.sections.nav-sections nav.navigation ul li.level0.parent > a:after {
  background-image: url("../images/nav-arrow.svg");
  height: 7px;
  width: 9px;
  top: -3px;
  margin-left: 7px;
  background-size: cover;
  content: "";
  display: inline-block;
  position: relative;
}
.sections.nav-sections nav.navigation ul li.level0.nav-1 {
  /* mixin */
}
.sections.nav-sections nav.navigation ul li.level0.nav-1 > a {
  pointer-events: none;
}
.sections.nav-sections nav.navigation ul li.level0.nav-1 .med-icon {
  background-size: cover;
  position: relative;
  top: 3px;
  content: "";
  display: inline-block;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}
.sections.nav-sections nav.navigation ul li.level0.nav-1 li.nav-1-1 > a:before {
  background-image: url("../images/medical-leaf.svg");
  background-size: cover;
  position: relative;
  top: 3px;
  content: "";
  display: inline-block;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}
.sections.nav-sections nav.navigation ul li.level0.nav-1 li.nav-1-2 > a:before {
  background-image: url("../images/plus-acc.svg");
  background-size: cover;
  position: relative;
  top: 3px;
  content: "";
  display: inline-block;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}
.sections.nav-sections nav.navigation ul li.level0.nav-4 ul.submenu {
  top: 30px;
}
.sections.nav-sections nav.navigation ul li.level0.nav-4 ul.submenu li a {
  line-height: 22px;
}
.sections.nav-sections nav.navigation ul li.level0 ul.submenu {
  box-shadow: none;
  border-color: #dedede;
  left: -140px !important;
}
.sections.nav-sections nav.navigation ul li.level0 ul.submenu:before {
  /* arrow pointers */
  content: " ";
  color: #fff;
  border-left: 1px solid #dedede;
  border-top: 1px solid #dedede;
  position: absolute;
  background: #fff;
  transform: rotate(45deg);
  line-height: 0.6;
  width: 8px;
  height: 8px;
  top: -5px;
  right: 44px;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .sections.nav-sections nav.navigation ul li.level0 ul.submenu:before {
    display: none;
  }
}
.sections.nav-sections nav.navigation ul li.level0 ul.submenu li {
  font-size: 14px;
  font-family: 'proxima_novasemibold';
  text-align: left;
  border-bottom: 1px solid #dedede;
  margin-bottom: 0;
  z-index: 99;
  position: relative;
}
.sections.nav-sections nav.navigation ul li.level0 ul.submenu li:last-child {
  border: 0;
}
.sections.nav-sections nav.navigation ul li.level0 ul.submenu li a {
  padding-top: 12px;
}
@media screen and (max-width: 767px) {
  .sections.nav-sections nav.navigation ul li.level0 ul.submenu li {
    border: 0;
  }
}
.sections.nav-sections nav.navigation ul li.level0 ul.submenu .active > a {
  border: 0;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu {
  /* seperate menu for mobile */
}
@media screen and (min-width: 768px) {
  .sections.nav-sections nav.navigation .top-links-mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .sections.nav-sections nav.navigation .top-links-mobile-menu {
    display: block;
  }
  .sections.nav-sections nav.navigation .top-links-mobile-menu ul,
  .sections.nav-sections nav.navigation .top-links-mobile-menu div ul {
    display: block!important;
  }
}
.sections.nav-sections nav.navigation .top-links-mobile-menu a {
  font-family: 'proxima_novasemibold';
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .mb-switch-lang {
  color: #fff;
  padding: 9px 20px;
  border-bottom: 1px solid #265e85;
  text-transform: uppercase;
  font-family: 'proxima_novasemibold';
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .mb-switch-lang span.language-mobile-menu {
  background: #818486;
  border-radius: 10px;
  display: block;
  position: relative;
  width: 93px;
  display: inline-block;
  margin-left: 20px;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .mb-switch-lang span.language-mobile-menu a {
  display: inline-block;
  padding: 6px 14px;
  font-family: 'proxima_novasemibold';
  color: #fff;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .mb-switch-lang span.language-mobile-menu a.lang-active {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  color: #265e85;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .top-international-mobile-menu li {
  padding: 13px 20px;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .top-international-mobile-menu a {
  padding: 0;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .top-international-mobile-menu img {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .top-social-logos-mobile-menu ul {
  padding: 14px 20px 11px;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .top-social-logos-mobile-menu li {
  padding: 0;
  display: inline-block;
  border: 0;
  margin-right: 45px;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .top-social-logos-mobile-menu li a {
  padding: 0;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .top-social-logos-mobile-menu li a img {
  width: 20px;
}
.sections.nav-sections nav.navigation .top-links-mobile-menu .top-social-logos-mobile-menu li:nth-of-type(1) a img {
  width: 9px;
}
.sections.nav-sections .nav-sections-items {
  /* mobile */
}
@media screen and (max-width: 767px) {
  .sections.nav-sections .nav-sections-items .nav-sections-item-title {
    padding-top: 0;
    height: 50px;
    width: 50%;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-title a {
    color: #818486;
    font-family: 'proxima_nova_rgregular';
    font-size: 18px;
    display: block;
    padding: 12px 0;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-title a.nav-sections-item-switch:before {
    content: "";
    font-family: "luma-icons";
    font-size: 18px;
    color: #404040;
    margin-right: 8px;
    position: relative;
    top: 2px;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-title.active {
    background: #fff;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-title.active a {
    color: #404040;
    font-family: 'proxima_nova_rgregular';
    font-size: 18px;
  }
  .sections.nav-sections .nav-sections-items div:nth-of-type(3) a.nav-sections-item-switch:before {
    background-image: url("../images/user-icon-grey.svg");
    height: 17px;
    width: 17px;
    margin-right: 8px;
    top: 3px;
    background-size: cover;
    content: "";
    display: inline-block;
    position: relative;
  }
  .sections.nav-sections .nav-sections-items div.active:nth-of-type(3) a.nav-sections-item-switch:before {
    background-image: url("../images/user-icon-black.svg");
    height: 17px;
    width: 17px;
    margin-right: 8px;
    top: 3px;
    background-size: cover;
    content: "";
    display: inline-block;
    position: relative;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content {
    padding-top: 0;
    margin-top: 50px;
    /*nav.navigation {*/
    /*}*/
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul {
    text-align: left;
    background: #084875;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul > li {
    margin: 0;
    color: #fff;
    padding: 14px 20px;
    border-bottom: 1px solid #265e85;
    border-top: 0;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul > li a,
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul > li span {
    color: #fff;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul > li.level0.parent > a::after {
    background-image: url("../images/nav-arrow-white.svg");
    margin-left: 20px;
    width: 11px;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul > li.level0.parent > a.ui-state-active::after {
    transform: rotate(180deg);
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul > li ul {
    border-top: 0;
    padding-top: 5px;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul > li ul li {
    padding: 0;
    border: 0;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul > li ul li a {
    font-family: 'proxima_nova_rgregular';
    letter-spacing: 0.6px;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul > li ul li:last-child a {
    padding-bottom: 0;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul > li.customer-welcome {
    padding: 0!important;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul > li.customer-welcome .header.links {
    padding-top: 0;
    border-bottom: 1px solid #265e85;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul li.level0.nav-1 li.nav-1-1 > a::before,
  .sections.nav-sections .nav-sections-items .nav-sections-item-content ul li.level0.nav-1 li.nav-1-2 > a::before {
    background: none;
    height: 0;
    width: 0;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content .header-account {
    padding: 0;
    visibility: hidden;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content .header-account img {
    display: none;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content .header-account ul {
    padding: 0;
    visibility: visible;
    margin-top: -22px;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content .header-account ul li {
    list-style-type: none;
    border-bottom: 1px solid #265e85;
    border-top: 0;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content .header-account ul li a {
    border: 0;
    text-transform: uppercase;
    padding: 15px 20px 13px!important;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content .header-account ul li:last-child {
    border-bottom: 0;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content .minicart-wrapper {
    display: none;
  }
  .sections.nav-sections .nav-sections-items .nav-sections-item-content .greet.welcome {
    padding: 0;
    border: 0;
    display: none;
  }
}
@media screen and (max-width: 767px) and screen and (max-width: 767px) {
  .sections.nav-sections .nav-sections-items .nav-sections-item-content .header-account ul {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  .sections.nav-sections .nav-sections-items .nav-sections-item-title {
    width: 50%;
  }
}
div.shop-three-column {
  clear: both;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}
@media screen and (max-width: 650px) {
  div.shop-three-column {
    border-top: 1px solid #DEDEDE;
    margin-top: 40px;
  }
}
div.shop-three-column div {
  text-align: center;
  padding: 40px 0 34px;
}
@media screen and (min-width: 651px) {
  div.shop-three-column div {
    float: left;
    width: 33.33%;
    border-right: 1px solid #DEDEDE;
    box-sizing: border-box;
    min-height: 255px;
  }
  div.shop-three-column div:nth-of-type(3) {
    border-right: 0px;
  }
  div.shop-three-column div p {
    max-width: 180px;
    margin: auto;
  }
}
@media screen and (max-width: 650px) {
  div.shop-three-column div {
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    padding: 30px 0 25px;
  }
  div.shop-three-column div:nth-of-type(3) {
    border-bottom: 0px;
  }
  div.shop-three-column div p {
    max-width: 100%;
    margin: auto;
    padding: 0 18px;
  }
}
div.shop-three-column div h2 {
  color: #404040;
  font-size: 24px;
  font-family: 'proxima_nova_rgbold';
  margin-top: 14px;
  margin-bottom: 13px;
}
@media screen and (max-width: 650px) {
  div.shop-three-column div h2 {
    font-size: 21px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
div.video-section {
  clear: both;
  background: url("../images/video-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  div.video-section {
    background: url("../images/video-bg-mb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
div.video-section div.videocontent-overlay {
  max-width: 520px;
  text-align: center;
  margin: auto;
  padding-top: 9%;
  padding-bottom: 9%;
}
div.video-section div.videocontent-overlay h1 {
  font-family: 'proxima_novasemibold';
  color: #fff;
  font-size: 45px;
  margin-bottom: 20px;
}
div.video-section div.videocontent-overlay p {
  font-family: 'proxima_nova_rgregular';
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}
div.video-section div.videocontent-overlay img.play-video {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  div.video-section div.videocontent-overlay {
    padding-left: 20px;
    padding-right: 20px;
  }
  div.video-section div.videocontent-overlay h1 {
    font-size: 30px;
  }
  div.video-section div.videocontent-overlay p {
    font-size: 18px;
  }
  div.video-section div.videocontent-overlay img.play-video {
    max-width: 60px;
  }
}
div.news-three-column {
  clear: both;
  display: table;
  margin-bottom: 60px;
  margin-top: 34px;
}
div.news-three-column h1 {
  font-family: 'proxima_nova_rgbold';
  font-size: 45px;
  text-align: center;
}
div.news-three-column table tr td {
  padding: 0;
  border: 1px solid #DEDEDE;
  width: 33%;
  position: relative;
}
@media screen and (max-width: 750px) {
  div.news-three-column table tr td {
    border-collapse: collapse;
    display: inline-table;
    border: 0;
    width: initial;
  }
  div.news-three-column table tr td div {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 750px) {
  div.news-three-column {
    margin-bottom: 0px;
    margin-top: 29px;
  }
  div.news-three-column h1 {
    font-size: 30px;
    margin-bottom: 27px;
  }
}
div.news-three-column div {
  padding: 50px;
  padding-bottom: 35px;
}
div.news-three-column div > a {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0!important;
}
div.news-three-column div img {
  max-width: 100%;
}
@media screen and (max-width: 1000px) {
  div.news-three-column div {
    padding: 50px 6%;
  }
}
div.news-three-column div h4 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 16px;
  padding-left: 10px;
  line-height: 26px;
}
div.news-three-column div p {
  margin-bottom: 7px;
  padding-left: 10px;
  line-height: 26px;
  letter-spacing: 0.35px;
}
div.news-three-column div p a {
  color: #404040;
  font-size: 14px;
  font-family: 'proxima_novasemibold';
  display: block;
  margin-top: 12px;
  padding: 0;
  text-transform: uppercase;
}
div.news-three-column div p a:after {
  background-image: url("../images/read-arrow.svg");
  height: 10px;
  content: "";
  display: inline-block;
  width: 7px;
  margin-left: 5px;
  background-size: cover;
}
@media screen and (max-width: 750px) {
  div.news-three-column div {
    margin-bottom: 40px;
    padding: 0px;
  }
  div.news-three-column div * {
    padding-left: 18px;
    padding-right: 18px;
  }
  div.news-three-column div img {
    padding: 0!important;
    max-width: 100%;
  }
  div.news-three-column div h4 {
    margin-top: 13px;
    padding-left: 18px;
    padding-right: 18px;
  }
  div.news-three-column div p {
    margin-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
div.big-button.see-news {
  clear: both;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 750px) {
  div.big-button.see-news {
    padding: 19px;
    margin-bottom: 0;
    border-top: 1px solid #dedede;
  }
}
div.big-button.see-news a {
  text-decoration: none;
  width: 180px;
}
div.big-button.see-news a span {
  font-family: 'proxima_nova_rgregular';
  background-color: #084875;
  margin: auto;
  color: #fff;
  font-size: 18px;
  padding: 19px 40px;
}
@media screen and (max-width: 750px) {
  div.big-button.see-news a span {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  div.big-button.see-news a {
    width: 100%;
  }
}
footer.page-footer {
  background: #404040;
}
@media screen and (min-width: 768px) {
  footer.page-footer {
    padding-bottom: 28px;
  }
}
@media screen and (max-width: 750px) {
  footer.page-footer {
    margin-top: 0px;
  }
}
footer.page-footer .footer.content {
  max-width: 1200px;
  margin: auto;
  padding-top: 46px;
}
@media screen and (min-width: 1280px) {
  footer.page-footer .footer.content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  footer.page-footer .footer.content {
    display: table;
    text-align: center;
    border: 0;
    padding-top: 27px;
  }
}
footer.page-footer .footer.content > div {
  float: left;
  display: inline-block;
  width: 38%;
}
@media screen and (max-width: 1000px) {
  footer.page-footer .footer.content > div {
    width: 35%;
  }
}
@media screen and (max-width: 767px) {
  footer.page-footer .footer.content > div {
    width: 100%;
    margin-right: 0;
    float: none;
  }
}
footer.page-footer .footer.content .news-letter-social-icons {
  width: 24%;
}
@media screen and (max-width: 1000px) {
  footer.page-footer .footer.content .news-letter-social-icons {
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  footer.page-footer .footer.content .news-letter-social-icons {
    margin-bottom: 20px;
    width: 100%;
    margin-top: 25px;
  }
}
footer.page-footer .footer.content .news-letter-social-icons .footer-social-login {
  display: block;
  clear: both;
}
@media screen and (max-width: 767px) {
  footer.page-footer .footer.content .news-letter-social-icons .footer-social-login {
    float: none;
    margin: auto;
  }
}
footer.page-footer .footer.content .block.newsletter {
  width: 280px;
  margin-bottom: 33px;
}
@media screen and (max-width: 767px) {
  footer.page-footer .footer.content .block.newsletter {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }
}
footer.page-footer .footer.content .block.newsletter div.title,
footer.page-footer .footer.content .block.newsletter div.content {
  float: none;
}
footer.page-footer .footer.content .block.newsletter div.title {
  display: block;
}
footer.page-footer .footer.content .block.newsletter div.title strong {
  font-family: 'proxima_nova_rgregular';
  font-size: 20px;
  margin-bottom: 18px;
  color: #fff;
  letter-spacing: 0.4px;
}
footer.page-footer .footer.content .block.newsletter div.content div.field.newsletter {
  float: left;
}
@media screen and (max-width: 767px) {
  footer.page-footer .footer.content .block.newsletter div.content .form.subscribe {
    text-align: center;
    margin: auto;
    max-width: 300px;
  }
  footer.page-footer .footer.content .block.newsletter div.content .form.subscribe div.field.newsletter {
    float: left;
    width: initial;
  }
  footer.page-footer .footer.content .block.newsletter div.content .form.subscribe div.field.newsletter div.control input {
    width: initial;
  }
  footer.page-footer .footer.content .block.newsletter div.content .form.subscribe div.actions {
    width: initial;
  }
}
footer.page-footer .footer.content .block.newsletter .field.newsletter div.control:before {
  content: "";
}
footer.page-footer .footer.content .block.newsletter .field.newsletter div.control input {
  background: #4b4b4b;
  border: 0;
  height: 40px;
  padding: 0 20px;
  color: #fff;
}
footer.page-footer .footer.content .block.newsletter div.actions .action.primary {
  background: #EB9C47;
  height: 40px;
  color: #fff;
  border-radius: 0;
  border: 0;
}
footer.page-footer .footer.content .block.newsletter div.actions .action.primary span {
  font-size: 14px;
  font-family: 'proxima_nova_rgregular';
}
footer.page-footer ul {
  margin: 0;
  padding: 0;
}
footer.page-footer li,
footer.page-footer a {
  font-family: 'proxima_nova_rgregular';
  font-size: 15px;
  color: #d5d5d5;
  letter-spacing: 0.29px;
}
@media screen and (max-width: 767px) {
  footer.page-footer li,
  footer.page-footer a {
    font-size: 16px;
    letter-spacing: 0.33px;
  }
}
footer.page-footer h4 {
  color: #fff;
  font-family: 'proxima_nova_rgregular';
  font-size: 20px;
  margin-bottom: 14px;
  margin-top: 0;
  letter-spacing: 0.4px;
}
@media screen and (max-width: 767px) {
  footer.page-footer h4 {
    margin-bottom: 13px;
  }
}
footer.page-footer .footer-contact-us li {
  font-family: 'proxima_nova_rgregular';
  font-size: 15px;
  margin-bottom: 15px;
}
footer.page-footer .footer-contact-us li span {
  font-family: 'proxima_novasemibold';
}
footer.page-footer .footer-contact-us li img {
  margin-right: 10px;
  position: relative;
  top: 2px;
}
footer.page-footer .footer-tilray-links {
  width: 33%;
}
@media screen and (max-width: 950px) {
  footer.page-footer .footer-tilray-links {
    width: 28%;
  }
}
@media screen and (max-width: 830px) {
  footer.page-footer .footer-tilray-links {
    width: 26%;
  }
}
@media screen and (max-width: 767px) {
  footer.page-footer .footer-tilray-links {
    margin-top: 26px;
  }
}
footer.page-footer .footer-tilray-links li {
  margin-bottom: 14px;
}
footer.page-footer .footer-social-login {
  width: 280px;
  float: right;
}
footer.page-footer .footer-social-login .social-blk li {
  display: inline-block;
  margin-right: 25px;
}
footer.page-footer .footer-social-login .social-blk li img {
  width: 18px;
}
footer.page-footer .footer-social-login .social-blk li:nth-of-type(1) img {
  width: 8px;
}
footer.page-footer .footer-social-login .social-blk li:nth-of-type(3) img {
  width: 16px;
}
@media screen and (max-width: 767px) {
  footer.page-footer .footer-social-login .social-blk li {
    margin-right: 35px;
  }
  footer.page-footer .footer-social-login .social-blk li img {
    width: 24px;
  }
  footer.page-footer .footer-social-login .social-blk li:nth-of-type(1) img {
    width: 10px;
  }
  footer.page-footer .footer-social-login .social-blk li:nth-of-type(3) {
    margin-right: 0;
  }
  footer.page-footer .footer-social-login .social-blk li:nth-of-type(3) img {
    width: 20px;
  }
}
.footer-copy-rights {
  background: #343333;
}
.footer-copy-rights small.copyright {
  background: #343333;
  padding: 0 ;
  max-width: 1200px;
  margin: auto;
}
.footer-copy-rights small.copyright span {
  float: right;
  margin-top: 8px;
}
@media screen and (max-width: 1280px) {
  .footer-copy-rights small.copyright span {
    padding-right: 20px;
  }
}
.footer-copy-rights small.copyright .container.footer-bottom {
  float: left;
}
.footer-copy-rights small.copyright .container.footer-bottom ul.footer-blk {
  margin: 0;
  padding: 0;
}
.footer-copy-rights small.copyright .container.footer-bottom ul.footer-blk li {
  display: inline-block;
  border-right: solid 1px #404040;
  border-left: solid 1px #404040;
  margin: 0;
}
.footer-copy-rights small.copyright .container.footer-bottom ul.footer-blk li:nth-of-type(1) {
  border-right: 0;
}
.footer-copy-rights small.copyright .container.footer-bottom ul.footer-blk li a {
  font-size: 13px;
  font-family: 'proxima_nova_rgregular';
  color: #fff;
  letter-spacing: 0.4px;
  padding: 6px 12px;
}
@media screen and (min-width: 768px) {
  .footer-copy-rights small.copyright .container.footer-bottom ul.footer-blk li a {
    display: block;
  }
}
.footer-copy-rights small.copyright .container.footer-bottom ul.footer-blk li a img {
  margin-right: 8px;
  position: relative;
  top: 3px;
}
@media screen and (max-width: 767px) {
  .footer-copy-rights {
    display: block;
    width: 100%;
  }
  .footer-copy-rights small.copyright {
    position: relative;
    padding-bottom: 43px;
    padding-top: 8px;
  }
  .footer-copy-rights small.copyright span {
    float: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22px;
  }
  .footer-copy-rights small.copyright .container.footer-bottom {
    float: none;
  }
  .footer-copy-rights small.copyright .container.footer-bottom ul.footer-blk li {
    display: block;
    padding: 6px 0;
  }
  .footer-copy-rights small.copyright .container.footer-bottom ul.footer-blk li:nth-of-type(1) {
    margin-bottom: 2px;
  }
}
div.video-wrapper {
  background: #040404 none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: none;
}
div.video-wrapper .video-container {
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
}
div.video-wrapper .close-video {
  position: absolute;
  right: 30px;
  top: 50px;
  cursor: pointer;
  z-index: 999;
}
/* === Banner section st === */
/* == mixin st == */
.o-before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 8px;
  margin-right: 5px;
  background-size: cover;
}
/* == mixin en == */
.tilray-banner .owl-nav {
  position: absolute;
  top: 45%;
  width: 100%;
}
.tilray-banner .owl-nav .owl-prev {
  float: left;
  margin-left: 30px;
  width: 10px;
  height: 18px;
  overflow: hidden;
  background: transparent;
}
.tilray-banner .owl-nav .owl-prev:before {
  background-image: url("../images/slider-arrow-lt.svg");
  content: "";
  display: inline-block;
  height: 15px;
  width: 8px;
  margin-right: 5px;
  background-size: cover;
}
.tilray-banner .owl-nav .owl-next {
  float: right;
  margin-right: 30px;
  width: 10px;
  height: 18px;
  overflow: hidden;
  background: transparent;
}
.tilray-banner .owl-nav .owl-next:before {
  background-image: url("../images/slider-arrow-rt.svg");
  content: "";
  display: inline-block;
  height: 15px;
  width: 8px;
  margin-right: 5px;
  background-size: cover;
}
.tilray-banner .owl-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .tilray-banner .owl-dots {
    bottom: -30px;
  }
}
.tilray-banner .owl-dots .owl-dot {
  background: #818486;
  width: 8px;
  height: 8px;
  margin: auto;
  border-radius: 100%;
  display: inline-block;
  margin-right: 12px;
}
.tilray-banner .owl-dots .owl-dot.active {
  background: #404040;
}
.tilray-banner img.mb-ban {
  display: none!important;
}
@media screen and (max-width: 767px) {
  .tilray-banner img.dsk-ban {
    display: none!important;
  }
  .tilray-banner img.mb-ban {
    display: block!important;
  }
}
.tilray-banner.owl-theme .owl-dots .owl-dot.active span,
.tilray-banner.owl-theme .owl-dots .owl-dot:hover span,
.tilray-banner.owl-theme .owl-dots .owl-dot span,
.tilray-banner.owl-theme .owl-nav [class*='owl-']:hover {
  background: transparent!important;
}
/* === Banner section en === */
/* === Blog styles === */
/*.post-list-wrapper {*/
.post-content .post-description .post-ftimg-hld {
  float: none;
  width: 53%;
  margin-bottom: 30px;
  margin-left: 0;
}
.post-content .post-read-more {
  float: none;
}
/*}*/
.cms-home .page-header {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .cms-home .page-header {
    margin-bottom: 26px;
  }
}
.page-header {
  border-bottom: 1px solid #dedede;
  padding-bottom: 5px;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .page-header {
    margin-bottom: 22px;
    border-bottom: 0;
  }
}
.breadcrumbs {
  margin-bottom: 35px;
}
.breadcrumbs li a {
  font-family: 'proxima_novasemibold';
  font-size: 14px;
}
.breadcrumbs li strong {
  font-family: 'proxima_nova_rgregular';
  font-size: 14px;
}
.breadcrumbs .item:not(:last-child):after {
  margin: 2px;
}
@media screen and (max-width: 767px) {
  .breadcrumbs {
    display: block;
    padding: 0;
    margin-bottom: 20px;
  }
  .breadcrumbs .items {
    padding: 0 10px;
  }
  .breadcrumbs li a {
    font-family: 'proxima_novasemibold';
    font-size: 16px;
  }
  .breadcrumbs li strong {
    font-family: 'proxima_nova_rgregular';
    font-size: 16px;
  }
}
/* === sidebar filter === */
.page-with-filter.page-products {
  /* tab design */
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .page-with-filter.page-products .sidebar-main {
    width: 40%;
  }
  .page-with-filter.page-products .sidebar-main .swatch-attribute-options {
    width: 280px;
  }
  .page-with-filter.page-products .column.main {
    width: 60%;
  }
}
@media screen and (min-width: 901px) and (max-width: 1100px) {
  .page-with-filter.page-products .sidebar-main {
    width: 36%;
  }
  .page-with-filter.page-products .sidebar-main .swatch-attribute-options {
    width: 280px;
  }
  .page-with-filter.page-products .column.main {
    width: 64%;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1280px) {
  .page-with-filter.page-products .sidebar-main {
    width: 30%;
  }
  .page-with-filter.page-products .sidebar-main .swatch-attribute-options {
    width: 280px;
  }
  .page-with-filter.page-products .column.main {
    width: 70%;
  }
}
.page-layout-2columns-left #maincontent.page-main {
  padding: 0;
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
  .page-layout-2columns-left .columns {
    padding: 0 12px;
  }
}
@media screen and (min-width: 1280px) {
  .page-layout-2columns-left .column.main {
    width: 825px;
  }
}
.page-layout-2columns-left .navigation .level0.has-active > .level-top {
  border: none;
}
.page-layout-2columns-left .page-title,
.page-layout-2columns-left .page-title a {
  font-family: 'proxima_novasemibold';
  font-size: 20px;
  text-transform: uppercase;
  color: #979797;
  text-decoration: none;
}
.page-layout-2columns-left .page-title#page-title-heading {
  color: #404040;
  padding-bottom: 8px;
  border-bottom: 4px solid #084875;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 768px) and (max-width: 1220px) {
  .page-layout-2columns-left .page-title#page-title-heading {
    margin: 0 12px 22px 12px;
  }
}
@media screen and (max-width: 767px) {
  .page-layout-2columns-left .page-title#page-title-heading {
    border-bottom: 0;
    background: #084875;
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
    padding: 24px 0px;
  }
}
.page-layout-2columns-left .page-title:nth-of-type(1) {
  margin-right: 47px;
}
@media screen and (max-width: 767px) {
  .page-layout-2columns-left .page-title {
    padding: 22px 0px;
    font-family: 'proxima_nova_rgregular';
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    display: inline-block;
    text-align: center;
    width: 49.5%;
    margin-bottom: 0;
  }
  .page-layout-2columns-left .page-title:nth-of-type(1) {
    margin-right: 0px;
  }
  .page-layout-2columns-left .page-title:nth-of-type(2) {
    margin-left: -4px;
    width: 50.4%;
  }
  .page-layout-2columns-left .page-title a {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .page-layout-2columns-left .products.products-grid {
    padding: 0 15px;
  }
}
@media screen and (min-width: 1280px) {
  .page-layout-2columns-left .sidebar-main {
    width: 345px;
    padding-right: 0;
  }
}
.page-layout-2columns-left .sidebar-main .filter-current a.remove:before {
  font-size: 8px;
  color: #404040;
  font-weight: bold;
}
.sidebar-main .block-content.filter-content {
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
}
.sidebar-main .block-content.filter-content .filter-subtitle {
  display: none;
}
.sidebar-main .block-content.filter-content .item {
  margin: 10px 0 20px;
}
.sidebar-main .block-content.filter-content .swatch-attribute-options .item {
  width: 70px;
  display: inline-block;
  margin-bottom: 10px !important;
  position: relative;
  margin-right: 1vw !important;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .sidebar-main .block-content.filter-content .swatch-attribute-options .item {
    width: 60px;
  }
}
.sidebar-main .block-content.filter-content .swatch-attribute-options .item:before {
  content: "";
  display: inline-block;
  float: left;
  position: absolute;
  left: -65px;
  top: 6px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'proxima_nova_rgregular';
}
.sidebar-main .block-content.filter-content .swatch-attribute-options .item:after {
  content: "";
  float: left;
  position: absolute;
  top: -32px;
  text-transform: uppercase;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.sidebar-main .block-content.filter-content .swatch-attribute-options .item:first-child:before {
  content: "LOW";
}
.sidebar-main .block-content.filter-content .swatch-attribute-options .item:nth-child(4):before {
  content: "Medium";
}
.sidebar-main .block-content.filter-content .swatch-attribute-options .item:nth-child(7):before {
  content: "high";
}
.sidebar-main .block-content.filter-content .swatch-attribute-options .item:first-child:after {
  content: "thc";
}
.sidebar-main .block-content.filter-content .swatch-attribute-options .item:nth-child(2):after {
  content: "cbd";
}
.sidebar-main .block-content.filter-content .swatch-attribute-options .item:nth-child(3):after {
  content: "thc/cbd";
}
.sidebar-main .block-content.filter-content .filter-current ol.items {
  padding-left: 18px;
}
@media screen and (min-width: 768px) {
  .sidebar-main .block-content.filter-content .block-actions.filter-actions + strong.block-subtitle {
    display: none;
  }
}
@media (max-width: 767px) {
  .sidebar-main .block-content.filter-content .swatch-attribute-options {
    margin: 0 auto !important;
    max-width: 330px;
    width: 100%;
    box-sizing: border-box;
  }
  .sidebar-main .block-content.filter-content .swatch-attribute-options .item {
    margin-right: 17px !important;
  }
}
.sidebar-main .filter-options .filter-options-content {
  padding-left: 18px;
}
.sidebar-main .filter-options .filter-options-content a {
  color: #818486;
}
.sidebar-main .filter-options .filter-options-content a:hover {
  background-color: transparent;
}
.sidebar-main .filter-options .filter-options-content a input[type=checkbox]:checked + span {
  font-family: 'proxima_novasemibold';
  letter-spacing: 0.5px;
  color: #404040;
}
.sidebar-main a.filter-clear,
.sidebar-main a.filter-clear:visited {
  color: #818486;
  text-decoration: underline;
  font-family: 'proxima_novalight';
}
.sidebar-main .filter-options-title,
.sidebar-main .filter .filter-current-subtitle {
  background: #084875;
  color: #fff;
  font-family: 'proxima_nova_rgregular';
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 40px 10px 10px;
  letter-spacing: 0.5px;
}
.sidebar-main .filter-options-title:hover,
.sidebar-main .filter .filter-current-subtitle:hover {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .sidebar-main .filter-options-title,
  .sidebar-main .filter .filter-current-subtitle {
    background: #fff;
    color: #084875;
  }
  .sidebar-main .filter-options-title:hover,
  .sidebar-main .filter .filter-current-subtitle:hover {
    color: #084875;
  }
  .sidebar-main .filter-options-title:after,
  .sidebar-main .filter .filter-current-subtitle:after {
    right: initial;
    top: 15px;
    font-size: 10px;
    margin-left: 15px;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) {
  .sidebar-main .filter-options-title:after {
    visibility: hidden;
  }
}
@media screen and (max-width: 767px) {
  .sidebar-main .filter-options-title:after {
    color: #084875;
  }
}
.sidebar-main input[type=checkbox],
.sidebar-main input[type=radio] {
  visibility: hidden;
  margin: 2px 10px 0 0;
  box-shadow: none;
  display: none;
}
.sidebar-main input[type=checkbox]:checked + span.label::after,
.sidebar-main .am_shopby_link_selected input + span.label::after,
.sidebar-main input[type=radio]:checked + span.label::after,
.sidebar-main .am_shopby_link_selected input + span.label::after {
  background-image: url("../images/filter-checked.svg") !important;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-color: #fff;
  content: "";
  display: inline-block;
  position: relative;
  top: 5px;
  right: -10px;
}
.sidebar-main .filter-options-content .item span.count {
  display: none;
}
@media screen and (max-width: 767px) {
  .filter.block {
    position: fixed;
    bottom: 61px;
    width: 100%;
    z-index: 99;
  }
  .filter.block .filter-title strong {
    width: 100%;
    background: #084875;
    color: #fff;
    border: none;
    padding: 20px 0;
    cursor: pointer;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: 'proxima_nova_rgregular';
  }
  .filter.block .filter-title strong:before {
    background-image: url("../images/filter-mb.svg");
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    content: "";
    display: inline-block;
    position: relative;
    right: 10px;
    top: 4px;
  }
  .filter.block .filter-subtitle {
    height: initial;
  }
}
.filter.block .filter-options-item {
  padding-bottom: 10px;
}
.filter.block .filter-options-item:last-child {
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .page-with-filter .footer-copy-rights {
    padding-bottom: 55px;
  }
}
.filter.block.active .filter-title strong {
  top: 0;
  right: 0;
  color: #4C4C4C;
  background: #fff;
  height: initial;
}
.filter.block.active .filter-title strong:before {
  content: "";
  background-image: none;
}
.filter.block.active .filter-title strong:after {
  float: right;
  margin-right: 15px;
  color: #404040;
}
.filter.block.active .filter-options {
  top: 63px;
}
@media screen and (max-width: 767px) {
  .filter.block.active #am_shopby_container.filter-current {
    margin: 0;
    border-top: 0;
  }
  .filter.block.active #am_shopby_container div.block-actions.filter-actions {
    margin: 0;
    display: none;
  }
  .filter.block.active #am_shopby_container div.block-actions.filter-actions + div.block-actions.filter-actions {
    display: none;
  }
  .filter.block.active #am_shopby_container.filter-current.active div.block-actions.filter-actions {
    margin: 0;
    display: block;
  }
}
/* === product listing guest === */
.t100 {
  background: linear-gradient(120deg, #ffc42f 50%, #ffd049 50%);
}
.t200 {
  background: linear-gradient(120deg, #f68c28 50%, #f89a4d 50%);
}
.t300 {
  background: linear-gradient(120deg, #ee4023 50%, #f05d43 50%);
}
.c200 {
  background: linear-gradient(120deg, #48c6ec 50%, #6bccf4 50%);
}
.tc100 {
  background: linear-gradient(120deg, #94d1b6 50%, #a8d8b6 50%);
}
.tc200 {
  background: linear-gradient(120deg, #5bae6d 50%, #52ba70 50%);
}
@media screen and (min-width: 1024px) {
  div.products-grid ol.products.list {
    margin-left: -20px;
  }
}
@media screen and (min-width: 1280px) {
  div.products-grid ol.products.list li.product-item {
    width: 22%;
    margin-left: calc(3%);
  }
}
@media screen and (max-width: 450px) {
  div.products-grid ol.products.list li.product-item {
    width: 100%;
  }
  div.products-grid ol.products.list li.product-item .product-item-info,
  div.products-grid ol.products.list li.product-item a.product-item-photo {
    width: 100%;
  }
  div.products-grid ol.products.list li.product-item a.product-item-photo {
    text-align: center;
  }
}
div.products-grid ol.products.list li.product-item div.product-item-info {
  border: 1px solid #dedede;
}
div.products-grid ol.products.list li.product-item div.product-item-info:hover {
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: initial;
  border: 1px solid #dedede;
}
div.products-grid ol.products.list li.product-item div.product-item-info:hover .product-item-inner {
  display: none;
}
div.products-grid ol.products.list li.product-item div.product-item-info .product-image-container .product-image-wrapper {
  padding: 32px!important;
}
div.products-grid ol.products.list li.product-item div.product-item-info div.product-item-details {
  padding: 0 12px;
}
div.products-grid ol.products.list li.product-item div.product-item-info div.product-item-details .product-item-name {
  font-family: 'proxima_novasemibold';
  font-size: 16px;
}
@media screen and (max-width: 639px) {
  div.products-grid.guest-login ol.products.list li.product-item {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  div.products-grid.guest-login ol.products.list li.product-item {
    width: 100%;
    margin: 0 auto 20px auto;
    display: block;
  }
}
div.products-grid.guest-login ol.products.list div.product-item-info {
  border: 0!important;
}
div.products-grid.guest-login ol.products.list div.product-item-info div.price-box {
  display: none;
}
div.products-grid.guest-login ol.products.list div.product-item-info div.chem-type {
  text-align: center;
  min-height: 60px;
}
div.products-grid.guest-login ol.products.list div.product-item-info div.chem-type a {
  color: #fff;
  font-size: 38px;
  line-height: initial;
  padding: 8px 0;
  display: block;
  text-decoration: none;
}
div.products-grid.guest-login ol.products.list div.product-item-info div.product-item-name {
  border: 1px solid #dedede;
  border-top: 0;
  padding: 8px 15px;
  margin: 0;
}
div.products-grid.guest-login ol.products.list div.product-item-info div.product-item-name a {
  font-size: 16px;
  color: #404040;
  font-family: 'proxima_novasemibold';
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}
div.products-grid.registered-login ol.products.list div.product-item-info a {
  border-bottom: 1px solid #dedede;
}
div.products-grid.registered-login ol.products.list div.product-item-info .product-item-details a {
  border: 0;
}
div.products-grid.registered-login ol.products.list div.product-item-info .product-item-description {
  margin: 0 0 10px 0;
  font-family: 'proxima_novalight';
}
div.products-grid.registered-login ol.products.list div.product-item-info .product-item-description p {
  font-size: 14px;
}
div.products-grid.registered-login ol.products.list div.product-item-info .product-item-description + .desc-profile {
  margin-bottom: 5px;
}
div.products-grid.registered-login ol.products.list div.product-item-info .desc-profile span {
  font-family: 'proxima_novasemibold';
  font-size: 14px;
  color: #4c4c4c;
}
div.products-grid.registered-login ol.products.list div.product-item-info .price-box {
  margin: 10px 0 10px;
}
div.products-grid.registered-login ol.products.list div.product-item-info .price-box .price {
  color: #1A4869;
}
/* swatch filter */
.swatch-attribute-options {
  padding-left: 57px !important;
  padding-top: 40px !important;
  margin-right: -57px !important;
}
.swatch-attribute-options .swatch-option {
  min-width: initial;
  max-width: initial;
  width: 70px;
  height: 30px;
  background-size: cover !important;
  margin: 0;
  border: 0;
  padding: 0;
}
.swatch-attribute-options .swatch-option:hover {
  outline: 0 !important;
}
.swatch-attribute-options .swatch-option.selected {
  outline: 0;
}
.swatch-attribute-options .swatch-option.selected:after {
  content: "";
  background: url(../images/Selected-icon.svg);
  line-height: 36px;
  padding-right: 0px;
  float: right;
  margin-top: 7px;
  margin-right: 2px;
  background-size: cover!important;
  height: 13px;
  width: 13px;
}
.swatch-attribute-options .swatch-option.image:not(.disabled):hover,
.swatch-attribute-options .swatch-option.color:not(.disabled):hover {
  border: 0;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .swatch-attribute-options {
    padding-left: 50px !important;
  }
}
@media screen and (min-width: 1280px) {
  .product.media {
    max-width: 415px;
    width: 100%;
  }
}
/* == Guest Product view detail == */
@media screen and (min-width: 768px) {
  .page-layout-1column .product.media {
    width: 38%;
  }
  .page-layout-1column .product-info-main {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .page-layout-1column .product.media {
    margin-bottom: 20px;
  }
}
.catalog-product-view .upsell {
  clear: both;
}
.catalog-product-view .rguest-product .chem-detail {
  text-align: center;
  font-size: 78px;
  color: #fff;
  vertical-align: middle;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .catalog-product-view .rguest-product .chem-detail {
    font-size: 75px;
    padding-top: 3px;
    padding-bottom: 0px;
  }
}
.catalog-product-view .rguest-product .prod-details {
  border: 1px solid #dedede;
  border-top: 0;
  padding: 20px 18px;
}
.catalog-product-view .rguest-product .prod-details .prod-name {
  font-size: 26px;
  font-family: 'proxima_novasemibold';
  color: #404040;
}
.catalog-product-view .rguest-product .prod-details .prod-subname {
  font-size: 26px;
  color: #404040;
}
@media screen and (max-width: 767px) {
  .catalog-product-view .rguest-product .prod-details {
    padding: 9px 18px;
  }
  .catalog-product-view .rguest-product .prod-details .prod-name,
  .catalog-product-view .rguest-product .prod-details .prod-subname {
    font-size: 18px;
  }
}
div.product-info-main h1.page-title {
  font-size: 45px;
  font-family: 'proxima_nova_rgbold';
  margin-bottom: 7px;
}
@media screen and (max-width: 767px) {
  div.product-info-main h1.page-title {
    font-size: 20px;
  }
}
div.product-info-main h4 {
  color: #404040;
  font-size: 15px;
  font-family: 'proxima_novasemibold';
  margin-top: 0;
  margin-bottom: 15px;
}
div.product-info-main h4 + p,
div.product-info-main h4 + p + p {
  font-size: 15px;
}
div.product-info-main h4 + p span:first-child,
div.product-info-main h4 + p + p span:first-child {
  color: #404040;
  margin-right: 5px;
  font-family: 'proxima_novasemibold';
}
div.product-info-main div.varities p {
  font-size: 18px;
  font-family: 'proxima_novasemibold';
  color: #404040;
}
div.product-info-main div.varities p span {
  border: 1px solid #dedede;
  margin-left: 20px;
  padding: 5px 12px;
  font-size: 13px;
  color: #084875;
  letter-spacing: 0.25;
}
@media screen and (max-width: 767px) {
  div.product-info-main div.varities p strong {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
  }
  div.product-info-main div.varities p span {
    font-size: 15px;
  }
  div.product-info-main div.varities p span:nth-of-type(1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 400px) {
  div.product-info-main div.varities p span {
    margin-left: 2%;
  }
}
div.product-info-main .product-info-price {
  display: none;
}
div.product-info-main .box-tocart a {
  text-decoration: none;
}
div.product-info-main .box-tocart input[type="button"] {
  background: #084875;
  color: #fff;
  width: 300px;
  height: 60px;
  border: 0;
  font-size: 18px;
  font-family: 'proxima_nova_rgregular';
}
@media screen and (max-width: 500px) {
  div.product-info-main .box-tocart input[type="button"] {
    width: 100%;
  }
}
div.product-info-main .s-desc {
  font-size: 16px;
  color: #818486;
}
div.product-info-main .product.attribute.overview {
  margin: 15px 0 16px;
  border-top: 1px solid #dedede;
  padding-top: 15px;
  font-size: 16px;
}
div.product-info-main .product.attribute.overview .value p {
  font-size: 16px;
  color: #818486;
}
@media screen and (max-width: 767px) {
  div.product-info-main .product.attribute.overview {
    border-top: 1px solid #404040;
    margin: 10px 0 6px;
    padding-top: 13px;
  }
}
div.product-info-main .attributes {
  width: 100%;
  clear: both;
}
div.product-info-main .attributes h2 {
  float: left;
  font-size: 18px;
  font-family: 'proxima_novasemibold';
  color: #404040;
  margin-top: 0;
}
div.product-info-main .attributes .powered-by {
  float: right;
}
div.product-info-main .attributes .powered-by p {
  font-size: 15px;
  color: #404040;
  margin-right: 5px;
  float: left;
}
div.product-info-main .attributes .powered-by img {
  width: 80px;
}
@media screen and (max-width: 767px) {
  div.product-info-main .attributes h2,
  div.product-info-main .attributes .powered-by {
    float: none;
  }
}
/* == additional-attributes-wrapper == */
.additional-attributes-wrapper {
  clear: both;
  margin-top: 20px;
  margin-bottom: 30px;
}
.additional-attributes-wrapper table tbody tr {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: 0.28px;
}
.additional-attributes-wrapper table tbody tr th {
  padding-right: 0;
  padding-left: 0;
  font-family: 'proxima_novasemibold';
}
.additional-attributes-wrapper table tbody tr th:after {
  content: ":";
}
.additional-attributes-wrapper table tbody tr td {
  color: #818486;
  padding-left: 2px;
}
.additional-attributes-wrapper table tbody th,
.additional-attributes-wrapper table tbody td {
  display: initial;
  border: none;
}
@media screen and (max-width: 767px) {
  .additional-attributes-wrapper {
    border-top: 0;
  }
  .additional-attributes-wrapper table tbody tr {
    margin-bottom: 3px;
  }
}
/* == mixin == */
.copy-before {
  content: "";
  background-size: cover;
  height: 15px;
  width: 18px;
  margin-right: 10px;
}
.product-social-links .action {
  margin-right: 6%;
}
.product-social-links .action.tocompare:before {
  background: url(../images/compare.svg);
  content: "";
  background-size: cover;
  height: 15px;
  width: 18px;
  margin-right: 10px;
  margin-top: -9px;
}
.product-social-links .action.mailto.friend:before {
  background: url(../images/email-fr.svg);
  content: "";
  background-size: cover;
  height: 15px;
  width: 18px;
  margin-right: 10px;
  height: 13px;
  margin-top: -7px;
}
.product-social-links .action.tocompare,
.product-social-links .action.mailto.friend {
  text-transform: initial;
  font-family: 'proxima_nova_rgregular';
  color: #818486;
  font-size: 14px;
}
/* ==== after customer logged in === */
@media screen and (max-width: 767px) {
  body.customer-logged-in.page-layout-1column .product.media {
    margin-bottom: 0px;
  }
}
body.customer-logged-in .product-info-main .product-info-price {
  display: inline-block;
  width: initial;
  border-bottom: 0;
  margin-right: 15px;
}
body.customer-logged-in .product-info-main .product-info-price .product-info-stock-sku {
  display: none;
}
@media screen and (max-width: 767px) {
  body.customer-logged-in .product-info-main .product-info-price {
    margin-bottom: 0;
    margin-top: 15px;
    margin-right: 0;
  }
}
body.customer-logged-in .product-info-main .price-box {
  padding-bottom: 5px;
}
body.customer-logged-in .product-info-main .price-box .price-container span {
  margin-bottom: 0;
}
body.customer-logged-in .product-info-main .price-box .price-container .price {
  font-size: 15px;
  color: #084875;
}
body.customer-logged-in .product-info-main .product-add-form {
  display: inline-block;
  padding-top: 0;
}
body.customer-logged-in .product-info-main .product-add-form .box-tocart {
  /*logged in */
}
@media screen and (max-width: 767px) {
  body.customer-logged-in .product-info-main .product-add-form .box-tocart {
    margin: 0;
  }
}
body.customer-logged-in .product-info-main .product-add-form .box-tocart .field.qty {
  float: left;
  margin-right: 20px;
}
body.customer-logged-in .product-info-main .product-add-form .box-tocart .field.qty label {
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
  position: relative;
  top: 10px;
}
body.customer-logged-in .product-info-main .product-add-form .box-tocart .field.qty label:after {
  content: ":";
  margin-left: 2px;
}
body.customer-logged-in .product-info-main .product-add-form .box-tocart .field.qty .control {
  float: right;
}
body.customer-logged-in .product-info-main .product-add-form .box-tocart .field.qty .control input {
  height: 38px;
  width: 40px;
  border: 1px solid #dedede;
}
body.customer-logged-in .product-info-main .product-add-form .box-tocart .actions {
  float: right;
}
body.customer-logged-in .product-info-main .product-add-form .box-tocart .action.tocart {
  background: #084875;
  color: #fff;
  width: 180px;
  height: 40px;
  border: 0;
  font-size: 18px;
  font-family: 'proxima_nova_rgregular';
  padding: 10px;
  border-radius: 0;
}
body.customer-logged-in .product-info-main .product-add-form .box-tocart .action.tocart span:before {
  background-image: url("../images/cart-icon.svg");
  height: 18px;
  content: "" !important;
  width: 18px;
  margin-right: 10px!important;
  top: 2px;
  background-size: cover;
  content: "";
  display: inline-block;
  position: relative;
}
body.customer-logged-in .product-info-main .product-add-form input.input-text.qty {
  height: 38px;
  width: 40px;
  border: 1px solid #dedede;
}
body.customer-logged-in .product-info-main .product-add-form .plus-value,
body.customer-logged-in .product-info-main .product-add-form .minus-value {
  border: 1px solid #dedede;
  height: 36px;
  width: 20px;
  cursor: pointer;
}
body.customer-logged-in .product-info-main .product-add-form .plus-value img,
body.customer-logged-in .product-info-main .product-add-form .minus-value img {
  margin: 14px auto 0;
  display: block;
}
body.customer-logged-in .product-info-main .product-add-form .plus-value {
  float: left;
  margin-right: -1px;
}
body.customer-logged-in .product-info-main .product-add-form .minus-value {
  float: right;
  position: relative;
  left: -1px;
}
body.customer-logged-in .product-info-main .product-add-form .minus-value img {
  margin-top: 18px;
}
body.customer-logged-in .product-info-main .attributes {
  padding-top: 25px;
  border-top: 1px solid #dedede;
}
@media screen and (max-width: 767px) {
  body.customer-logged-in .product-info-main .attributes {
    border-top: 1px solid #404040;
  }
}
body.customer-logged-in .product-info-main .varities {
  display: table;
  width: 100%;
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  body.customer-logged-in .product-info-main .varities {
    border-bottom: 1px solid #404040;
  }
}
@media screen and (max-width: 767px) {
  body.customer-logged-in .product-info-main .product.attribute.overview {
    margin: 10px 0 14px;
  }
}
@media screen and (min-width: 768px) {
  body.customer-logged-in .outof-stock-products-block input[type="submit"] {
    height: 43px;
  }
}
body.customer-logged-in .product.media .gallery-placeholder {
  margin-bottom: 20px;
}
body.customer-logged-in .product.media .gallery-placeholder .fotorama__thumb-border {
  display: none;
}
@media screen and (min-width: 768px) {
  body.customer-logged-in .product.media .gallery-placeholder .fotorama__nav__frame {
    border: 1px solid #dedede;
    height: 108px;
    margin-right: 18px;
  }
  body.customer-logged-in .product.media .gallery-placeholder .fotorama__nav__frame.fotorama__active {
    border: 1px solid #084875;
  }
}
body.customer-logged-in .product.media .gallery-placeholder .fotorama__stage {
  border: 1px solid #dedede;
  width: 99%!important;
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  body.customer-logged-in .product.media .gallery-placeholder .fotorama__stage {
    margin-bottom: 8px;
    border: 1px solid #404040;
  }
}
body.customer-logged-in .product.media .gallery-placeholder .fotorama__dot {
  width: 8px;
  height: 8px;
}
body.customer-logged-in .product.media .gallery-placeholder .fotorama__active .fotorama__dot {
  background-color: #084875;
  border-color: #084875;
}
body.customer-logged-in.page-product-grouped .varities + .product-info-price {
  display: none;
}
body.customer-logged-in.page-product-grouped .varities {
  border: 0;
}
body.customer-logged-in.page-product-grouped .attributes {
  margin-top: -6px;
}
body.customer-logged-in.page-product-grouped .product-add-form {
  width: 100%;
}
body.customer-logged-in.page-product-grouped .minus-value {
  left: -2px !important;
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped {
  margin-bottom: 0;
  border-top: 1px solid #dedede;
  /*table { width: initial; }*/
}
@media screen and (max-width: 767px) {
  body.customer-logged-in.page-product-grouped .table-wrapper.grouped {
    border-top: 0;
    padding: 0 15px;
  }
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped tbody {
  border-color: #dedede;
}
@media screen and (max-width: 639px) {
  body.customer-logged-in.page-product-grouped .table-wrapper.grouped tbody {
    border-color: #404040;
  }
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped tbody:nth-of-type(2) {
  border-bottom: 0;
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped tbody tr {
  position: relative;
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped tbody tr td {
  padding-top: 22px;
  padding-bottom: 21px;
  width: initial;
  border: 0;
}
@media screen and (max-width: 639px) {
  body.customer-logged-in.page-product-grouped .table-wrapper.grouped tbody tr td:nth-of-type(1) {
    padding-left: 0;
  }
}
@media screen and (max-width: 639px) {
  body.customer-logged-in.page-product-grouped .table-wrapper.grouped tbody tr td:nth-of-type(2) {
    padding-bottom: 22px;
    padding-left: 0;
  }
}
@media screen and (max-width: 639px) {
  body.customer-logged-in.page-product-grouped .table-wrapper.grouped tbody tr td:nth-of-type(3) {
    position: absolute;
    top: 50px;
    left: 145px;
  }
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped .control.qty {
  width: 145px;
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped .control.qty label {
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped .qty-sep {
  display: inline-block;
  width: 98px;
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped .price-box {
  padding-bottom: 0;
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped .price-box.price-final_price.price-nm {
  float: left;
  margin-right: 5px;
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped .price-box.price-final_price.price-nm strong {
  font-size: 15px;
  font-family: 'proxima_novasemibold';
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped .grouped-product-item {
  margin-top: 5px;
}
body.customer-logged-in.page-product-grouped .table-wrapper.grouped .price-nm + .price-box.price-final_price {
  margin-top: 5px;
  display: inline-block;
}
body.customer-logged-in.page-product-grouped .product-add-form .box-tocart {
  display: none;
}
body.customer-logged-in.page-product-grouped .product-add-form .table-wrapper.grouped .box-tocart {
  display: block;
  margin: 0;
}
body.customer-logged-in.page-product-grouped .product-add-form .table-wrapper.grouped .box-tocart .actions {
  float: none;
}
.product.media div.img-text.prd-txt {
  max-width: 360px;
  border: 0;
  margin-bottom: 0;
  margin-left: 30px;
  padding: 0;
}
.product.media div.img-text.prd-txt:before {
  top: 2px;
  left: -30px;
}
div.img-text {
  font-size: 13px;
  display: block;
  position: relative;
  color: #818486;
  letter-spacing: 0.25px;
  line-height: 21px;
  border: 1px solid #dedede;
  padding: 20px 20px 20px 50px;
  max-width: 100%;
  margin-left: 0;
  margin-bottom: 50px;
  /*@media screen and (max-width: 767px) { margin-top: 22px; }*/
}
div.img-text:before {
  background-image: url("../images/info.svg");
  height: 18px;
  content: "";
  display: inline-block;
  width: 18px;
  margin-right: 10px!important;
  background-size: cover;
  position: absolute;
  top: 22px;
  left: 17px;
}
@media screen and (max-width: 767px) {
  div.img-text {
    border: 0;
    margin-bottom: 0;
    padding-left: 30px;
    margin-top: 22px;
  }
  div.img-text:before {
    left: 3px;
  }
}
div.block.upsell {
  position: relative;
  top: 40px;
  margin-bottom: 50px !important;
}
@media screen and (max-width: 767px) {
  div.block.upsell {
    top: 20px;
    margin-bottom: 20px !important;
  }
}
div.block.upsell .block-title {
  text-align: center;
}
div.block.upsell .block-title strong {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-family: 'proxima_novasemibold';
}
div.block.upsell .product-item-info {
  width: 100%;
}
div.block.upsell .product-item-photo {
  width: 100%;
  display: block;
  border-bottom: 1px solid #dedede;
}
div.block.upsell .product-item-photo .photo.image {
  display: block;
  margin: auto;
}
div.block.upsell div.product-item-name {
  margin-top: 10px;
}
div.block.upsell div.product-item-name a {
  font-size: 16px;
  color: #4C4C4C;
  font-family: 'proxima_novasemibold';
  margin-top: 5px;
}
div.block.upsell div.price-final_price .price {
  color: #084875;
  font-family: 'proxima_novasemibold';
}
div.block.upsell div.product-item-details .t-prof p {
  margin-bottom: 0;
}
div.block.upsell div.product-item-details .t-prof p span {
  font-size: 14px;
  font-family: 'proxima_nova_rgregular';
}
div.block.upsell div.product-item-details .t-prof p span:nth-of-type(1) {
  color: #4c4c4c;
  margin-right: 5px;
}
div.block.upsell div.product-item-details .t-prof p span:nth-of-type(2) {
  color: #818486;
}
div.block.upsell .price-box {
  margin: 10px 0 10px;
}
div.block.upsell div.chem-type {
  text-align: center;
  min-height: 90px;
}
div.block.upsell div.chem-type a {
  color: #fff;
  font-size: 52px;
  line-height: initial;
  padding: 15px 0;
  display: block;
  text-decoration: none;
  border-bottom: 0;
}
.block.upsell .minimal-price .price-label,
.catalog-category-view .product-item-info .minimal-price .price-label {
  float: left;
  color: #084875;
  font-family: 'proxima_novasemibold';
  font-size: 16px;
  margin-right: 5px;
}
.block.upsell .minimal-price .price-container,
.catalog-category-view .product-item-info .minimal-price .price-container {
  color: #084875;
  font-family: 'proxima_novasemibold';
  font-size: 16px;
}
/* == CMS Pages == */
.cms-about-us h2,
.cms-about-us h3 {
  color: #084875;
  font-family: 'proxima_novasemibold';
  margin-top: 0;
  margin-bottom: 20px;
}
.cms-about-us h2 {
  font-size: 20px;
}
.cms-about-us h3 {
  font-size: 16px;
}
.cms-about-us p {
  letter-spacing: 0.5px;
}
.cms-about-us .icon-bullet-line span.icon-bullet-content:before {
  background-image: url(../images/icon_ban.svg);
  height: 15px;
  width: 15px;
  margin-right: 8px;
  top: 3px;
  background-size: cover;
  content: "";
  display: inline-block;
  position: relative;
}
.loc-contact h2 {
  color: #084875;
  margin-top: 0;
  margin-bottom: 10px;
}
.loc-contact p + h2 {
  margin-top: 20px;
}
.loc-contact p {
  letter-spacing: 0.5px;
}
/* == cross-sell-products == */
.m-cross .cross-acc {
  border: 1px solid #dedede;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.m-cross .cross-acc h2 {
  font-size: 14px;
  font-family: 'proxima_novasemibold';
  text-transform: uppercase;
}
.m-cross .cross-acc h2:after {
  background-image: url(../images/slider-arrow-lt.svg);
  height: 13px;
  width: 6px;
  margin-right: 5px;
  transform: rotate(-90deg);
  left: 10px;
  top: 2px;
  background-size: cover;
  content: "";
  display: inline-block;
  position: relative;
}
.m-cross .cross-sell-products {
  display: none;
  margin-bottom: 20px;
}
.m-cross .cross-sell-products .product-item {
  display: inline-block;
  border: 1px solid #dedede;
  padding-left: 0;
  margin-right: 25px;
}
.m-cross .cross-sell-products .product-item > div.product-item-photo {
  border-bottom: 1px solid #dedede;
}
.m-cross .cross-sell-products .product-item div.product-item-name,
.m-cross .cross-sell-products .product-item div.product-item-price {
  padding: 0 15px;
}
.m-cross .cross-sell-products .product-item div.product-item-name {
  font-size: 16px;
  color: #4C4C4C;
  font-family: 'proxima_novasemibold';
}
.m-cross .cross-sell-products .product-item div.product-item-price {
  color: #084875;
  font-family: 'proxima_novasemibold';
}
.m-cross .cross-sell-products .product-item .product-item-photo.chem-type.t200 {
  padding: 10px;
  text-align: center;
  min-width: 200px;
}
.m-cross .cross-sell-products .product-item .product-item-photo.chem-type.t200 a {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.m-cross .cross-sell-products .product-item div.sb-name {
  font-size: 16px;
  color: #4C4C4C;
  font-family: 'proxima_nova_rgregular';
  padding: 0 15px;
}
.outof-stock-products-block {
  text-align: center;
  margin-bottom: 58px;
}
.outof-stock-products-block h2 {
  font-family: 'proxima_novasemibold';
  font-size: 20px;
  color: #404040;
  margin-top: 23px;
  margin-bottom: 36px;
}
.outof-stock-products-block h3 {
  font-family: 'proxima_nova_rgregular';
  font-size: 18px;
  color: #818486;
  margin-bottom: 42px;
}
.outof-stock-products-block input[type="mail"] {
  height: 36px;
  width: 220px;
  padding-left: 15px;
  font-size: 14px;
  font-family: 'proxima_nova_rgregular';
}
.outof-stock-products-block input[type="submit"] {
  height: 41px;
  width: 100px;
  margin-left: -6px;
  background: #084875;
  color: #fff;
  font-size: 14px;
  font-family: 'proxima_nova_rgregular';
  border: 0;
}
@media screen and (max-width: 767px) {
  .outof-stock-products-block {
    order: -2;
  }
  .outof-stock-products-block input[type="mail"] {
    height: 46px;
    border: 1px solid #404040;
  }
  .outof-stock-products-block input[type="submit"] {
    height: 49px;
  }
  .outof-stock-products-block h3 {
    font-family: 'proxima_novalight';
    font-size: 18px;
    color: #818486;
    margin-bottom: 42px;
  }
}
@media screen and (max-width: 450px) {
  .outof-stock-products-block {
    margin-bottom: 20px;
  }
  .outof-stock-products-block h2 {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .outof-stock-products-block h3 {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 22px;
  }
}
/* == account admin == */
.account.page-layout-2columns-left .column.main {
  width: 75%;
}
.account.page-layout-2columns-left .sidebar-main,
.account.page-layout-2columns-left .sidebar-additional {
  width: 22.3%;
  margin-right: 30px;
}
