<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>

<style>
    .registered-login {
        display: none;
    }

    .guest-login {
        display: block;
    }
</style>

<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?php /* @escapeNotVerified */
            echo __('We can\'t find products matching the selection.') ?></div>
    </div>
<?php else: ?>

    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>


    <div class="products wrapper registered-login <?php /* @escapeNotVerified */
    echo $viewMode; ?> products-<?php /* @escapeNotVerified */
    echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */
                echo ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?php /* @escapeNotVerified */
                    echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?php echo $productImage->toHtml(); ?>
                    </a>
                    <div class="product details product-item-details">
                        <?php
                        $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */
                               echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */
                                echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>
                        <div class="product description product-item-description">
                            <?php /* @escapeNotVerified */
                            echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                        </div>
                        <div class="desc-profile"><span><?php echo __('CDB: '); ?><?php /* @escapeNotVerified */
                            echo $_helper->productAttribute($_product, $_product->getCdb(), 'cdb') ?></span></div>
                        <div class="desc-profile"><span>
							<?php echo __('THC: '); ?><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getThc(), 'thc') ?></span>
                        </div>
                        <?php //echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                        <?php /* @escapeNotVerified */
                        echo $block->getProductPrice($_product) ?>
                    </div>
                </div>
                <?php echo ($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>


    <div class="products wrapper guest-login <?php /* @escapeNotVerified */
    echo $viewMode; ?> products-<?php /* @escapeNotVerified */
    echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */
                echo ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php $_getMyAttr = $_product->getResource()->getAttribute('tilray_profile'); ?>
                    <?php $_thcProfile = strtolower($_getMyAttr->getFrontend()->getValue($_product)); ?>
                    <div class=" <?php /* @escapeNotVerified */ echo "chem-type ". $_thcProfile; ?>">
                        <a href="<?php /* @escapeNotVerified */
                        echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                            <?php /* @escapeNotVerified */ echo strtoupper($_thcProfile); ?>
                        </a>
                    </div>
                    <div class="product name product-item-name">
                        <a class="product-item-link"
                           href="<?php /* @escapeNotVerified */
                           echo $_product->getProductUrl() ?>">
                            <?php /* @escapeNotVerified */
                            echo strtoupper($_helper->productAttribute($_product, $_product->getName(), 'name')); ?>
                        </a>

                        <div class="sb-name">
                            <?php $_getMyAttr2 = $_product->getResource()->getAttribute('category_attribute'); ?>
                            <?php /* @escapeNotVerified */ echo strtoupper($_getMyAttr2->getFrontend()->getValue($_product));  ?>
                        </div>

                    </div>

                    
                </div>
                <?php echo ($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>

    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
				{
					"[data-role=tocart-form], .form.map.checkout": {
						"catalogAddToCart": {}
					}
				}


        </script>
    <?php endif; ?>

<?php endif; ?>



<script type="text/javascript">
    require([
        "jquery"
    ], function ($) {
        // To check customer logged or not
        $.ajax({
            url: "<?php echo $this->getUrl('pdp/index/ajaxlogin'); ?>",
            showLoader: true,
            type: 'POST'
        }).done(function (response) {
            $.each(response, function (key, data) {
                console.log(key + '-' +  data)
                if(data) {
                    $(".guest-login").css("display", "none");
                    $(".registered-login").css("display", "block");
                }
            });
        });
    });
</script>
